[2020-02-27 23:19] tabern opened #16 "[BUG] Autogenerated resource names not properly formatted"
Auto-generated resource names follow the format `this.object.uniqueid`. This results in output that does not conform with K8s naming validation.

**Input TS**
[code]

**Output YAML**
[code]

**Error**

[code]

[2020-02-27 23:40] tabern opened #17 "[Suggestion] fix ordering in YAML output"
**Is your feature request related to a problem? Please describe.**
Synthesized YAML shows up out of order from standard K8s format. It technically works, but for a user familiar with K8s YAML formatting can be confusing to read.

example:
[code]

**Describe the solution you'd like**
Follow K8s YAML formatting conventions
1. apiVersion
2. kind
3. metadata
4. spec
5. etc...

example:
[code]

_There

[2020-02-28 14:22] #16 closed, assigned to nobody

[2020-02-28 18:12] tabern opened #19 "Generate Jsii-compatible interfaces from api spec"

[2020-02-28 18:13] tabern opened #20 "Build in jsii"

[2020-02-28 18:13] tabern opened #21 "Publish Constructs as Helm Chart"
Auto-generation of helm charts

[2020-02-28 18:15] tabern opened #22 "Real world examples"
- [ ] pure K8s app example
- [ ] stateless AWS app example
- [ ] stateful AWS app example

add to [/examples](/awslabs/cdk8s/tree/master/examples)

[2020-02-28 18:17] tabern opened #23 "synth/deploy CLI"
apply.sh

[2020-02-28 18:18] tabern opened #24 "Publish constructs as custom resources"
Implement a generic Kubernetes Operator which will allow publishing constructs as custom k8s resources.

## [hypothetical] README

You can use cdk8s to implement custom Kubernetes resources (CRDs) which are backed by a generic operator.

Let's take the [WebService](https://github.com/awslabs/cdk8s/blob/master/examples/typescript/web-service/web-service.ts) example and use cdk8s to publish it as a

[2020-02-28 18:18] tabern opened #25 "Map references and dependencies between resources and charts"
helps users with generation and debugging

[2020-02-28 18:19] tabern opened #26 "Docker assets"
Similarly to AWS CDK, cdk8s should provide a way to bundle docker images in constructs to support end-to-end "gitops" experience.

Imagine your cdk8s app includes both the k8s definitions and your application code (rooted by a Dockerfile).

Then you, commit a change to any of these and your cluster is updated.

[2020-02-28 18:19] tabern opened #27 "Import custom resources"
Support for resources that depend on things like Tiller, istio, etc

[2020-02-28 18:30] tabern opened #28 "Documentation on using the CDK8s CLI"
- [ ] `cdk8s init`
- [ ] `cdk8s generate`
- [ ] changing the default version of the K8s API
- [ ] K8s custom resource definitions

[2020-03-01 11:59] #20 closed, assigned to nobody

[2020-03-01 11:59] #19 closed, assigned to nobody

[2020-03-01 12:07] #23 closed, assigned to nobody

[2020-03-01 16:33] eladb opened #29 ""cdk8s gen --language X": support generating API objects in all target languages"
The requirement is that `cdk8s gen` will be able to generate code in all languages supported by jsii.

Proposed usage:

[code]

[2020-03-02 23:08] tabern opened #31 "[Suggestion] documentation on updating to use the latest release"
**Is your feature request related to a problem? Please describe.**
We need clear instructions on updating your CDK to the latest release, or a simpler method. Today you have to:
- update package.json file to the latest release version (`"@awslabs/cdk8s": "^0.10.0"`)
- run `yarn install`, `yarn build`,`yarn synth`

**Describe the solution you'd like**
Single shot CLI based solution to use the lates

[2020-03-03 14:07] eladb opened #35 "Release to all package managers in parallel"
At the moment our release workflow is sequential. This takes time and also if one target fails, all of them fail. It shouldn't be too hard to harvest the `dist/` directory as a build artifact and then create a job that releases to each package manager.

[2020-03-04 06:51] eladb opened #38 "Improve messaging about cluster agnostic-ness"
We should improve the message that cdk8s works with *any* Kubernetes cluster.

Ideas:
1. Show logos of popular k8s providers at the top of the readme.
2. Demo gifs for using cdk8s with multiple providers

[2020-03-04 18:56] eladb opened #40 "Rename `cdk8s generate` to `cdk8s import`"
We decided to use the "import" terminology instead of "generate"

[2020-03-04 18:59] eladb opened #41 "cdk8s synth"
Add a `cdk8s synth` command which will provide a uniform experience for executing the cdk application.

[2020-03-05 02:53] eladb opened #42 "cdk8s.json"
The CLI should be able to read its configuration from a file at the project root directory in combination with command line switches.

[2020-03-05 12:12] #31 closed

[2020-03-05 12:12] #40 closed

[2020-03-05 13:55] #41 closed

[2020-03-05 19:44] askulkarni2 opened #48 "[Suggestion] A hook in aws-eks for cdk8s Chart"
**Is your feature request related to a problem? Please describe.**

We would like to abstract the details of provisioning AWS infrastructure (EKS, etc.) from our customers (data scientists). They provide a Spark docker container with the application code and we run it for them. We are leveraging a [new capability](https://spark.apache.org/docs/latest/running-on-kubernetes.html) in Apache Spark so

[2020-03-05 22:09] tabern commented on #48
@askulkarni2 are you thinking this will generate two files, a CFN and K8s manifest, or are you thinking about the CDK8s supporting CRDs for AWS objects (ie: EKS clusters)?

[2020-03-06 00:51] askulkarni2 commented on #48
I had the first option in mind based on our initial CDK based PoC. But I am very curious about the second one. Is there an existing example I can look for reference?

[2020-03-06 04:48] campionfellin commented on #28
`changing the default version of the K8s API` could be documented like this:

---

By default, the command `cdk8s import k8s` will use the latest stable version of k8s objects.

For example, when using k8s 1.17,  if you want to use `DeploymentSpec`, you would be importing it from [Deployment v1](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.17/#deploymentspec-v1-apps) by default

[2020-03-06 06:59] so0k commented on #48
for option 1,  how would you bootstrap the manifests on the clusters? GitOps, you still need to bootstrap the gitops controller then ... kops does this through protokube constantly fetching channel manifests and apply changes when required

for EKS, is there anything that does this via CFN lifecycle hooks & lambdas?

[2020-03-06 07:08] eladb commented on #48
I think this issue is mainly about "option 1" - i.e. we want the k8s manifests to be applied to the EKS cluster as part when the AWS CDK apps is deployed. The aws-eks CDK module already supports applying k8s manifests to the cluster so this should be trivial to achieve.

As for option 2, if cdk8s is going to support any CRD, and therefore, if/when there will be CRDs for AWS resources, they will be

[2020-03-06 07:27] eladb opened #49 "Vend the cdk8s-cli through standard package managers (homebrew etc)"
It is awkward to need to install node for non-JS languages. We should vend the CLI through homebrew and other popular package managers so their installation will be more idiomatic to each platform.

[2020-03-06 07:59] askulkarni2 commented on #48
@so0k we have a CodeBuild to `cdk deploy` our k8s manifests which uses the feature in `aws-eks` module that @eladb is talking about. It works quite well.

[2020-03-06 10:34] eladb opened #51 "RFC: Should we recommend to commit imports?"
The current guidance and project templates recommend that imports are not checked in to source control and basically generated upon build.

This brings up a few issues:

1. In some languages (such as python or JavaScript), there isn’t actually a build step.
2. If these files are not checked in, users need the cdk8s CLI to be installed in their CI/CD environment and so they can run “import”
3. In t

[2020-03-06 16:16] eladb commented on #48
@askulkarni2 I think the API you propose (`eksCluster.addChart(cdk8sChart)`) makes sense and as I said should be easy to implement with the existing `eksCluster.addResource(manifest)`. Let's start with this.

I was also thinking that we should consider a more "deep integration" between the two frameworks, so it will be possible to define constructs that include both AWS CDK resources and cdk8s res

[2020-03-06 16:18] #42 closed

[2020-03-08 20:08] CaerusKaru opened #56 "[Suggestion] change —app to —cmd for cdk8s synth"
**Is your feature request related to a problem? Please describe.**
Since most people are creating cdk8s “apps”, it’s a little confusing that the “app” parameter for cdk8s synth takes in an executable and a file rather than the app name.

**Describe the solution you'd like**
We could change the parameter name to cmd to more clearly convey the intent: that this is the cmd used to run the synthesis.

[2020-03-08 20:23] eladb commented on #56
I'd like this to be consistent with the AWS CDK, and we use `--app` there. One of the main reasons this is not "command" in the AWS CDK is that it can also accept a "cloud assembly" directory (the output of "cdk synth" which can then be used with `cdk deploy`.

Anyway, I am closing for now to avoid backlog, and we will reopen in case this becomes too confusing to people. In the AWS CDK that wasn't

[2020-03-08 20:23] #56 closed

[2020-03-09 19:53] eladb commented on #17
Pointer to where we serialize to yaml: https://github.com/awslabs/cdk8s/blob/fcb81a8b32dd37ccfdbb5de018ece93b92ce84bf/packages/cdk8s/lib/chart.ts#L77

[2020-03-10 05:18] campionfellin opened #62 "[Suggestion] cdk8s documentation should follow k8s documentation style guide"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Documentation for cdk8s can be written by many people, with different styles of writing. In the `CONTRIBUTING.md` guide, we should suggest that contributors use the `k8s` style guide found [here](https://kubernetes.io/docs/contribute/style

[2020-03-10 05:34] campionfellin commented on #17
I'll take this!

I think we can start with [`kubernetes/examples`](https://github.com/kubernetes/examples) as our style guide for now and go from there.

For the top-level, I agree with the proposed solution of:

1. `apiVersion`
2. `kind`
3. `metadata`
4. `spec` (or other)

Looking at their examples, most generally follow this (though some, like [`cassandra-statefulset.yaml`](https://github.com/ku

[2020-03-10 07:09] eladb commented on #51
Okay, in the meantime, the getting started documentation provides a soft recommendation.

[2020-03-10 07:09] #51 closed

[2020-03-10 07:21] eladb commented on #17
I would take a bit of a more simple approach: `apiVersion`, `kind`, `metadata`, `spec` and then alpha-sort, and also do that recursively. It is very important that the order will be deterministic since people will likely use "diff" to identify changes to their definitions, so we can't afford any non-determinism.

[2020-03-10 13:31] eladb commented on #48
OK, the changes #63 and #64 enable the following experience:

[code]

We can offer an API from the aws-eks side to make this even more seamless: `eks.addChart(k8sChart)`. But this is basically how it can be implemented, and already supported.

[2020-03-10 13:36] eladb opened #65 "Import Helm Charts"

[2020-03-12 16:04] #17 closed

[2020-03-12 18:20] #29 closed

[2020-03-12 20:42] eladb commented on #49
@campionfellin if you are interested to look into this, that would be helpful :-)

[2020-03-13 23:02] eladb opened #69 "Allow specifying module name when importing"
Proposed syntax: `[module=]import`.

For example, the following cdk8s.yaml file includes a bunch of imports:

[code]

- The first import (k8s API) will use the default `k8s` module name.
- The second CRD will import to `jenkins` (which is the resource kind).
- The resource kind of the Mattermost CRD is actually `ClusterInstallation`. This means that the default module name will be `clusterinstalla

[2020-03-13 23:12] #27 closed

[2020-03-14 09:24] eladb opened #71 "Automatically include CRDs in chart that uses a custom resource"
When importing and using CRDs, it may be useful if the manifest will not only include the resource instances but also the CRD itself.

I believe it should be applied in order, before the actual resources are applied. This means that we need to support dependencies/order somehow.

[2020-03-15 13:14] eladb opened #72 "crd-import: support importing some OperatorHub"
Allow importing CRDs directly from [OperatorHub](https://operatorhub.io).

They have an API:
- List all operators: https://operatorhub.io/api/operators
- Operator: https://operatorhub.io/api/operator?packageName=jenkins-operator

[2020-03-17 07:48] #35 closed

[2020-03-18 18:03] CaerusKaru opened #76 "[BUG] release scripts run for forks"
**Describe the bug**
The release scripts currently run with commits to master on forked repositories, causing an error because the secrets are not available.

**To Reproduce**
Fork the repo, wait for an upstream commit to master and rebase, or commit directly to master.

**Expected behavior**
Release script should not run on forks

[2020-03-18 19:31] eladb commented on #76
Thanks for reporting, I guess we will need to add some kind of condition on these workflows.

[2020-03-19 03:13] campionfellin opened #77 "[BUG] CRD-importing should support templates with multiple resources"
**Describe the bug**

A template with multiple API Objects in it throws an error when trying to import.

**To Reproduce**

Example:

Save this as `template.yaml` (example from: https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/)

[code]

`cdk8s import template.yaml` throws:

[code]

**Expected behavior**

This should be supported by `cdk8s` as `k8s

[2020-03-19 08:43] eladb commented on #77
Sounds good. would you like to pick this up?

[2020-03-19 14:18] campionfellin commented on #77
Yes, I can take this!

[2020-03-20 07:53] jialechan opened #79 "[Feature request]Is it ready for ServiceAccount, ClusterRole, ClusterRoleBinding, DaemonSet?"
[code]

[code]
found nothing output...

[2020-03-20 07:54] eladb commented on #79
Nothing in dist/?

[2020-03-20 08:42] jialechan commented on #79
sorry, i mistake :(

[2020-03-20 08:42] #79 closed

[2020-03-20 08:45] eladb commented on #79
No worries. We decided not to output anything here (contrary to the AWS CDK which outputs the synthesized template)

[2020-03-21 07:09] campionfellin commented on #49
PR to `homebrew-core`: https://github.com/Homebrew/homebrew-core/pull/51851

[2020-03-21 07:12] campionfellin commented on #22
@tabern I'd offer this repository as a real world example: [`campionfellin/cdk8s-cicd-example`](https://github.com/campionfellin/cdk8s-cicd-example)

Is there somewhere you suggest to put external examples that do not belong in`/examples`?

[2020-03-21 07:57] RafalWilinski commented on #48
I've just tried running this:

[code]

And encountered following error:
[code]

Dependencies:
[code]

CLI:
[code]

Any ideas?

[2020-03-21 10:15] eladb commented on #48
Use 0.16.0 for now. 0.17.0 is incompatible with CDK 1.30.0. Hopefully this will get resolved in CDK 1.31.0

[2020-03-21 18:32] eladb commented on #49
Amazing! Would you like to update the getting started guides? (Under docs/)

[2020-03-21 18:52] campionfellin commented on #49
Yes! PR has been merged with homebrew. Will update the getting started guides, and write a script to bump the brew version when we do releases.

[2020-03-22 19:18] #77 closed

[2020-03-23 03:56] campionfellin commented on #69
I'll take this!

[2020-03-23 04:15] campionfellin commented on #69
What about something like this?

[code]

[2020-03-23 06:31] eladb commented on #69
I wanted this to be a one-liner so it’s easy to specify from the cli so I thought something like `modulename=file.yaml` or `modulename=k8s@1.17.0`.

But it might be a bit eccentric...

What do you think?

[2020-03-23 14:00] campionfellin commented on #69
I think specifying it as a map in the config file is a bit more idiomatic here. We could let user's either specify the map like above, or nothing (like `- k8s@1.17.0`) which would default to be the `file`.

I think that the `modulename=file.yaml` syntax opens up a lot of edge cases with parsing the input. For example:

`modulename=url.com?myfile=crd.yaml`

My stance would be that if you want named

[2020-03-24 04:40] campionfellin commented on #69
In the case where an imported file has multiple CRDs in it, what is the behavior we want?

I think this sounds good to me (if we document it well in the CLI):

1. If users do not provide `moduleName` then we split each CRD into it's own file, named based on its `kind`
2. If users do provide `moduleName` then we lump all CRDs into that file.

[2020-03-24 09:45] eladb commented on #69
I am not sure about lumping... Feels like it could cause naming conflicts, no?

Maybe we use the moduleName as a prefix in that case?....

[2020-03-24 13:50] campionfellin commented on #69
Works for me, let's do `moduleName-kind`

[2020-03-26 04:56] campionfellin commented on #76
We could fix this by adding a check here:

https://github.com/awslabs/cdk8s/blob/9a02ea862b5337328acd171b70d73553fdec582a/.github/workflows/release.yml#L7-L10

for `if: github.repository == 'awslabs/cdk8s'`

This prevents the `build_artifact` job from running, and thus the rest as they all depend on it.

It's a bit hacky, but let me know if you can think of better alternatives.

[2020-03-26 04:57] CaerusKaru commented on #76
I think the right answer is to check for the presence of the token in the environment. If it’s not set, it shouldn’t run.

[2020-03-26 05:08] campionfellin commented on #49
Going to close this, as `cdk8s-cli` is available on both [npm](https://formulae.brew.sh/formula/cdk8s#default) and [brew](https://formulae.brew.sh/formula/cdk8s#default).

Please re-open if it should be available elsewhere (PyPi, etc)

[2020-03-26 05:08] #49 closed

[2020-03-26 05:09] campionfellin commented on #62
Closing this. It's not clearly actionable and `cdk8s` documentation is fine for now.

[2020-03-26 05:09] #62 closed

[2020-03-26 05:26] campionfellin commented on #76
Which token do you mean? Looks like the `secrets.GITHUB_TOKEN` is automatically created in your repository.

https://help.github.com/en/actions/configuring-and-managing-workflows/authenticating-with-the-github_token

[2020-03-26 05:29] CaerusKaru commented on #76
This is for the release script, so I would say the NPM token?

[2020-03-28 03:02] campionfellin commented on #76
We have a handful of other tokens in the release script for Maven, Nuget, PyPi, and HomeBrew.

I think the solution here should be to check if it's the `awslabs/cdk8s` repository. What are your thoughts on this?

[2020-03-28 05:20] CaerusKaru commented on #76
I realized that the lack of a token _should_ cause the workflow to fail; otherwise, we’d have no way of knowing if that was the case on master.

A repo name check seems fine to me, though it’s not the most ideal IMO (though I don’t presently have an alternative)

[2020-03-28 06:54] jialechan opened #86 "How to use multi-line in ConfigMap?"
[code]
[code]
How to change multi-line to cdk8s?

[2020-03-28 07:55] eladb commented on #86
This is a common pattern:

[code]

[2020-03-28 08:04] jialechan commented on #86
This is a clear reply, Thx!

[2020-03-28 08:04] #86 closed

[2020-03-28 15:30] #76 closed

[2020-04-04 11:08] brennerm opened #91 "[Suggestion] allow to set the Python version for python-app"
**Is your feature request related to a problem? Please describe.**
When initializing a new python-app cdk8s automatically sets the Python version for the pipenv to 3.7. As I'm running Ubuntu 18.04 which comes with Python 3.6 by default I end up with a lot of warnings but the execution of cdk8s works just fine.

**Describe the solution you'd like**
As I didn't encounter any problems running cdk8s w

[2020-04-04 11:08] brennerm opened #92 "[Suggestion] allow cdk8s synth to print to stdout"
**Is your feature request related to a problem? Please describe.**
Currently when using cdk8s with tools that can read K8s manifests from stdin I first need to execute `cdk8s synth` and afterwards `cat dist/*`.

**Describe the solution you'd like**
It would be nice to have the option to make `cdk8s synth` print directly to stdout. This could be achieved my some kind of flag, e.g. `cdk8s synth --pr

[2020-04-04 11:08] brennerm opened #93 "[Suggestion] allow to skip the empty directory check when initializing"
**Is your feature request related to a problem? Please describe.**
On several occasions when executing `cdk8s init` I encountered the following error message: `Cannot initialize a project in a non-empty directory`. This is completely fine in most cases but e.g. when there's nothing else than a `.git` folder or anything cdk8s unrelated in the directory it would be very nice to skip this check.

**D

[2020-04-05 15:25] campionfellin opened #94 "[BUG] I should be able to import a CRD from an insecure server"
**Describe the bug**
A clear and concise description of what the bug is.

I want to import my CRD from an `http` URL.

**To Reproduce**
Steps to reproduce the issue.

`cdk8s import http://example.com/myCRD.yml`

**Expected behavior**
A clear and concise description of what you expected to happen.

I expect this to fetch from that server. I get a `Error: can't find file http://example.com/myCRD.yml

[2020-04-08 07:07] cmdallas commented on #94
👋 I can pick this up.

[2020-04-08 14:34] campionfellin opened #98 "[Suggestion] Create python examples, similar to the typescript examples"
**Is your feature request related to a problem? Please describe.**

Python developers who want to use `cdk8s` only really have the "intro to python": https://github.com/awslabs/cdk8s/blob/master/docs/intro-python.md

There should be more complex examples for python.

**Describe the solution you'd like**

I would like each of the current 4 examples in `examples/` to be copied to Python as well.

**

[2020-04-10 10:50] brennerm commented on #93
Hey @eladb, does the project team consider agreeing on this suggestion? If so please let me know whether my proposal sounds good. I'd like to work on this topic and prepare a PR.

[2020-04-10 10:51] eladb commented on #93
Yes, I don’t have any objections. I think this needs to be implemented in sscaffs though

[2020-04-10 11:01] brennerm commented on #93
Ahh I see.

Just found out that aws-cdk had the same issue https://github.com/aws/aws-cdk/issues/1758. Their solution was to ignore hidden files which would be fine for me as well. IMO it makes sense to make both tools behave similar in this regard.

[2020-04-10 14:59] eladb commented on #93
Agreed. Ignoring hidden files is a nice way to deal with it

[2020-04-10 19:37] #93 closed

[2020-04-11 05:06] #69 closed

[2020-04-12 05:56] #94 closed

[2020-04-13 22:33] tabern opened #105 "[BUG] Images do not show on desktop under cdk8s.io features"
**Describe the bug**
On the [features section](https://cdk8s.io/#Features) of the website, images show next to the feature descriptions on mobile, but not on the desktop.

**To Reproduce**
Open https://cdk8s.io/#Features in a desktop browser.

**Expected behavior**
Images render. Images need to be updated, also.

**Additional context**
Could be a Hugo problem. Need to look at HTML/CSS source code.

[2020-04-14 14:51] campionfellin opened #106 "[BUG] "Getting Started" link on cdk8s.io doesn't go anywhere"
**Describe the bug**
A clear and concise description of what the bug is.

On https://cdk8s.io/ the first link there "Get Started with cdk8s" links to https://cdk8s.io/getting-started/ which doesn't exist.

**To Reproduce**
Steps to reproduce the issue.

Open https://cdk8s.io/ and click the button.

**Expected behavior**
A clear and concise description of what you expected to happen.

There should

[2020-04-17 05:05] campionfellin opened #109 "[Suggestion] support imported `.yaml` with mixed CRD and normal resource definitions"
**Is your feature request related to a problem? Please describe.**

When importing resources, we generally expect them to be either CRDs or `k8s`. We should support a file that has both CRDs and standard resource definitions in them.

For example, take https://operatorhub.io/operator/composable-operator (can also be found here: https://operatorhub.io/api/operator?packageName=composable-operator)

[2020-04-17 12:32] eladb commented on #109
Interesting idea. What do you expect `service.ts` to include?

[2020-04-17 13:45] campionfellin commented on #109
I'd expect it to have the minimum subset of `k8s` that you would need for it to work. So maybe:

[code]

etc.
---
That being said, I am now thinking we may want to simplify and just detect and auto-import the whole `k8s` API for them (or in the case of the example, the `serving.knative.dev/v1` API).

[2020-04-19 16:32] campionfellin opened #110 "[Suggestion] cdk8s.yaml config file should support object version overrides"
**Is your feature request related to a problem? Please describe.**

Right now, with the CLI you can specify specific versions of `k8s` objects. For example,

[code]

To specify the latest `k8s` version, except to include the `v1beta1` version of `Deployment`

**Describe the solution you'd like**

This should be possible in the `cd8ks.yaml` config.

**Describe alternatives you've considered**

I th

[2020-04-20 07:24] eladb opened #111 "Dependencies and order between resources and charts"
It is not uncommon to require that resources will be applied to a k8s cluster in a specific order. For example, if a resource is placed in a namespace, the `Namespace` resource must be applied before it.

Constructs have a concept of dependencies (`Node.of(this).addDependency(that)`), and cdk8s should respect dependencies between resources when the chart's manifest is synthesized so that the resou

[2020-04-20 07:29] #25 closed

[2020-04-20 07:52] eladb opened #112 "Reference data from another resource"
It is sometimes desirable to be able to reference values from other resources during synthesis.

From the README of IBM's [Composable Operator]:

We should consider two types of references:

- **Runtime**: Reference values from a different deployment. This means that we don't know the value during synthesis and we need to wait for it to become available.
- **Synth-time**: Reference values within y

[2020-04-22 19:51] #28 closed

[2020-04-25 00:29] rafaribe opened #114 "Mailing List - No access"
The mailing list [link](https://github.com/awslabs/cdk8s#help--feedback) leads to a Google Group that I have no authorization to access.
Isn't this supposed to be public?

Thanks in advance.

[2020-04-25 01:56] rafaribe opened #115 "[Suggestion] Synth files per resource instead files per chart"
It would be cool to have the option to synth the manifests per resource instead of per chart.
It could be a dump of all manifests, or even create folders per chart and place the manifests in there.

I would propose that we add `outputYamlFormat` option in the `cdk8s.yaml` config file that accepts these values:
- `filePerChart`: Current behavior - defaults to this if not specified
- `folderPerChart

[2020-04-26 16:20] eladb commented on #115
Sounds like a cool thing to support.

[2020-04-26 16:44] vikas027 opened #116 "Getting started link is broken"
[Getting started](https://cdk8s.io/getting-started/) is broken

[2020-04-27 07:05] eladb opened #117 "Java support"
Tracking issue for Java support in cdk8s. Please +1 this issue to let us know you care (no need to comment).

[2020-04-27 07:06] eladb opened #118 ".NET support"
Tracking issue for .NET support in cdk8s. Please +1 this issue to let us know you care (no need to comment).

[2020-04-27 07:06] eladb opened #119 "Golang Support"
Tracking issue for Golang support in cdk8s. Please +1 this issue to let us know you care (no need to comment).

Remaining work:

- [x] https://github.com/cdk8s-team/cdk8s-cli/issues/26
- [x] https://github.com/cdk8s-team/cdk8s-cli/issues/27
- [x] https://github.com/cdk8s-team/cdk8s/issues/637

[2020-04-27 07:51] #106 closed

[2020-04-27 08:08] eladb opened #121 "Improve website design"
* Logo
* Graphics
* Layout & stuff

[2020-04-27 08:10] eladb opened #122 "Reference documentation website"
Generate cdk8s reference documentation and include in website

[2020-04-27 08:12] eladb opened #123 "StatefulSet L2"

[2020-04-27 08:12] eladb opened #124 "Role L2"

[2020-04-27 08:12] eladb opened #125 "[cdk8s-plus] Ingress L2"

[2020-04-27 08:12] eladb opened #126 "[cdk8s-plus] ConfigMap L2"

[2020-04-27 08:15] eladb opened #127 "Elasticsearch L2 Research"

[2020-04-30 01:22] vikas027 commented on #116
This has been fixed now.

[2020-04-30 01:22] #116 closed

[2020-04-30 13:38] pzfreo opened #129 "[BUG] Problem importing knative CRDs"
**Describe the bug**
I'm trying to import the KNative serving CRD from https://github.com/knative/serving/releases/download/v0.14.0/serving-crds.yaml

I get the following error:
[code]
There are a couple of other things worth noting. Firstly, there is no following of redirects on download of HTTP resources (so using that URL doesn't work). Secondly, as you can see there is no clear idea of where i

[2020-04-30 15:13] eladb commented on #129
thanks for the report. we'll take a look

[2020-05-01 07:56] eladb commented on #129
@iliapolo would you be able to take a look at this?

[2020-05-02 03:08] campionfellin commented on #129
I can help too - seems like there is a few things going on here.

1. The `.yaml` there ends with `---` and we're not handling that properly. I think the `parseAllDocuments` grabs the last "empty" doc after the `---`. PR here: https://github.com/awslabs/cdk8s/pull/130 to make sure `doc` is defined before casting it to `CustomResourceApiObject` and trying to get the `kind`.

https://github.com/awsla

[2020-05-03 14:30] #122 closed

[2020-05-03 14:31] eladb commented on #129
@campionfellin you got it!

[2020-05-03 14:33] eladb commented on #114
Thanks for letting us know. We are just getting started. Group opened :-)

[2020-05-03 14:33] #114 closed

[2020-05-06 12:27] ajaegle commented on #115
I also think that it would be good to have a bit more control about how stuff is synthesized. In most cases, this is not an environment-specific thing (the bundling of resources should be same for dev and prod) but related to the current set of resources in the project, as we e.g. want to export some CRDs in a first bundle and some CRs in a second one.

So maybe there could be a way to express tha

[2020-05-06 12:41] ajaegle commented on #26
I'm not sure if those two steps should be done in the same step/tool. Why do I think so? In my opinion, building artifacts (docker images) should be independent from the deployment process. Having that tightly integrated into the various stacks also means to have the image rebuilt for every stage which destroys the big advantage of being sure that the same artifact that was tested on a test stage

[2020-05-06 14:46] eladb commented on #115
The intention was that `Chart` will be that "bundle". Each chart is synthesized into a separate file. We are planning to allow you to define dependencies between charts and between resources within a chart to control the order and add an ordinal to the chart file names (see #111). Curious is this will address your use case.

[2020-05-06 18:11] rafaribe commented on #115
Sort of. My particular use case is that I need to encrypt my secrets before committing them to git. I use sealed-secrets. For this tool to work, I need to provide a manifest with the secret. The current synth outputs all of the components of a chart in the same file. Of course, a workaround would be to declare my secret in separate chart, but that's not a solution that I like.

[2020-05-10 12:39] eladb opened #134 "Language support"
This is an aggregate issue for language support. Please +1 on specific languages or open a new issue if a language you are looking for doesn't have an issue and link it from this issue via a comment.

Language support will be added through [jsii](https://github.com/aws/jsii). If you are interested to help, please reach out.

[2020-05-10 12:40] eladb commented on #134
.NET: #118

[2020-05-10 12:40] eladb commented on #134
Java: #117

[2020-05-10 12:40] eladb commented on #134
Golang: #119

[2020-05-10 18:23] eladb commented on #126
@iliapolo definitely super interesting use case https://kubernetes.io/docs/tasks/configure-pod-container/configure-pod-configmap/

[2020-05-10 18:33] iliapolo commented on #126
Nice! Lots to work with.

[2020-05-12 04:37] campionfellin commented on #98
Closing this. 3/4 of the examples have been merged in. I'll continue creating more as we go, no need for an open issue for this.

[2020-05-12 04:37] #98 closed

[2020-05-12 11:46] iliapolo opened #140 "[cdk8s-cli] Incorrect manifest when configuring a `StatefulSet` with `volumeClaimTemplates`"
**Describe the bug**

A `StatefulSet` that defines `VolumeClaimTemplates` is incorrectly synthesized.

**To Reproduce**

[code]

This will produce the following manifest:

[code]

There are two problems here:

1. `PersistentVolumeClaim` is present both as a top level resource, **and** a nested resource inside the spec of the`StatefulSet`.

2. The nested resource spec contains keys that actually ma

[2020-05-12 12:19] eladb commented on #129
This is resolved by #132

[2020-05-12 12:19] #129 closed

[2020-05-12 12:21] eladb opened #141 "cdk8s dasm: convert a yaml manifest to a cdk8s chart"
We propose a new command called `cdk8s dasm` that will take a k8s yaml as input and will generate code (in one of the supported programming languages) which will synthesize the same manifest output (as much as possible).

It's nice way to migrate from manifests to cdk8s.

See the [cdk-dasm](https://www.npmjs.com/package/cdk-dasm) as an example.

[2020-05-12 17:03] ajaegle commented on #115
We had some discussions on that topic and came to the conclusion that rendering certain resources into different files/folders is not the only option to approach this issue.

To give some context to that: We are using a GitOps approach with Flux to deploy the resources and sealed-secrets to provide the workloads with secrets - all from the same git repository.

That initial idea was to make use of

[2020-05-13 12:53] eladb opened #144 "[cdk8s] Escape hatches"
Similarly to how [escape hatches] work in the AWS CDK.

[escape hatches]: https://docs.aws.amazon.com/cdk/latest/guide/cfn_layer.html

[2020-05-13 23:28] mbonig opened #147 "[BUG] Bad import of cert-manager CRDs"
**Describe the bug**
When importing the CRDs for cert-manager (<1.15) from here: https://github.com/jetstack/cert-manager/releases/download/v0.15.0/cert-manager-legacy.yaml the resulting generated code is missing some definitions.

**To Reproduce**
Download the above mentioned .yaml and try to import. A resulting class is generated:
[code]

However, the IssuerOptions is not generated.

**Expected

[2020-05-14 03:40] campionfellin commented on #147
Using latest commit, I'm getting:

[code]

and it also works without downloading locally ( I noticed something about this in the slack channel).

https://github.com/awslabs/cdk8s/commit/1ed88ca32c998b590093fd0090ecbf9a6662043e fixes the redirect

https://github.com/awslabs/cdk8s/commit/b8115cb809b2b33be73a98f99b1cefa4de152654 leads to `options: any = {}`

That `cert-manager-legacy` definition is p

[2020-05-14 04:43] jk-gan opened #152 "Rust support"
**Is your feature request related to a problem? Please describe.**
Add Rust support for cdk8s

**Describe the solution you'd like**
Allow to use Rust with cdk8s

**Describe alternatives you've considered**
No

**Additional context**
Tracking issue for Rust support in cdk8s. Please +1 this issue to let us know you care.

[2020-05-14 04:43] jk-gan commented on #134
Rust: #152

[2020-05-14 06:21] cumet04 opened #153 "[BUG] typo in cdk8s-cli/README"
**Describe the bug**
In cdk8s-cli/README, there is (maybe) wrong command name, `cdk9s`.

**To Reproduce**
View https://github.com/awslabs/cdk8s/tree/master/packages/cdk8s-cli#init , first command sample.

[code]

**Expected behavior**
[code]

**Additional context**
In this case, typo in docs, is this issue type [BUG] suitable ?

[2020-05-14 07:08] #153 closed

[2020-05-14 07:12] cumet04 opened #155 "[BUG] dead reference in getting-started's sample code"
**Describe the bug**
In a sample code of getting-started (typescript), there is dead file reference (typo?).

In https://github.com/awslabs/cdk8s/blob/master/docs/getting-started/typescript.md#constructs , sample code of `WebService` definition:

[code]

The doc says,

and if the code is `./lib/web-service.ts`'s content instead of `./web-service.ts`, `import { ... } from './imports/k8s';` cannot b

[2020-05-14 07:47] eladb commented on #147
Should be resolved in the latest release

[2020-05-14 07:47] #147 closed

[2020-05-14 07:52] #155 closed

[2020-05-14 08:03] rask commented on #117
I presume with Java support Kotlin would be covered as well. Though Kotlin/JS might work already?

[2020-05-14 08:05] rask opened #157 "PHP support"
Any plans for PHP support?

[2020-05-14 08:05] rask commented on #134
PHP: #157

[2020-05-14 08:16] zacblazic opened #158 "Ruby support"
Tracking issue for Ruby support in cdk8s. Please +1 this issue to let us know you care (no need to comment).

[2020-05-14 08:17] zacblazic commented on #134
Ruby: https://github.com/awslabs/cdk8s/issues/158

[2020-05-14 11:54] karimkawambwa opened #159 "GO Support"
**Is your feature request related to a problem? Please describe.**
Add Go support for cdk8s

**Describe the solution you'd like**
Allow to use Go with cdk8s

**Describe alternatives you've considered**
None

**Additional context**
Tracking issue for Go support in cdk8s. Please +1 this issue to let the team know you care.

[2020-05-14 11:55] eladb commented on #159
Duplicate #119

[2020-05-14 11:55] #159 closed

[2020-05-14 11:56] #121 closed

[2020-05-14 12:46] eladb opened #160 "Allow mutations for imported k8s/CRD objects"
At the moment, these types are immutable. All their properties have to be defined upon initialization. Similarly to the AWS CDK's "cfn resources", we should allow users to mutate these objects to improve authoring experience.

Let's say I want to conditionally determine the value of a couple of fields in an imported k8s object. Today, I would need to do it like this:

[code]

This feature will all

[2020-05-14 12:46] eladb opened #2174 "Inspect (and mutate) L1 properties after initialization"
At the moment, these types are immutable. All their properties have to be defined upon initialization. Similarly to the AWS CDK's "cfn resources", we should allow users to mutate these objects to improve authoring experience.

Let's say I want to conditionally determine the value of a couple of fields in an imported k8s object. Today, I would need to do it like this:

[code]

This feature will all

[2020-05-14 15:09] ryanvade commented on #152
Would this also have to be implemented in the regular CDK? I would love that too, but I thought the idea was for both to be interoperable.

[2020-05-14 19:50] Rep1AI opened #162 "Example and Integration with ArgoCD"
Can Real-world examples with CI/CD pipeline like Argo be included?

[2020-05-14 20:21] ankitmahapatra22 opened #163 "[BUG] cdk8s init throws error on missing prerequisites"
**Describe the bug**
cdk8s init typescript-app throws file already exists error.
OS : Windows 8.1
Node version : 10.11.0

**To Reproduce**
cdk8s init typescript-app

**Expected behavior**
New project should have been created.

**Additional context**
Getting started using https://github.com/awslabs/cdk8s/blob/master/docs/getting-started/typescript.md

![cdk8s init issue](https://user-images.githubu

[2020-05-14 21:13] ryanvade commented on #162
I've been looking at using Argo Workflows and Argo Events with cdk8s.  It seems their CRD manifests don't fully define the field attributes so the import tool doesn't pull them in.  Unless I'm missing something an example with Argo Workflows, Argo Events, or Argo CD will require manual type definitions for the CRDs.

[2020-05-15 01:32] stanleynguyen commented on #163
It looks like you were trying to init `hello/` and the folder already existed (which explains the OS error)

[2020-05-15 05:16] jmmars commented on #163
No.

[2020-05-15 05:46] campionfellin commented on #163
Hey, could you try with Node 12?

[2020-05-15 06:01] jmmars commented on #163
heh ... hold on..
[code]

[2020-05-15 06:08] jmmars commented on #163
So, the solution (update the docs maybe unless I missed these two things in there... ) is to use some version of node >= 12.x (I was using v8.9.4) _and_ to install pipenv (`brew install pipenv`). So, I take it back, guess my node was crusty.

[2020-05-15 11:17] eladb commented on #163
can you submit a PR for doc update?

[2020-05-15 12:44] ankitmahapatra22 commented on #163
Thank you, upgrading the Node version to LTS 12.16.3 helped create the typescript-app templated project successfully.
Next I went on to init using python-app template. Similar to @jmmars , I encountered the pipenv installation message.
Went on to install pipenv - ```pip install --user pipenv```
Followed it up with
```cdk8s init python-app```
in a new folder name hello_python
Received the error as

[2020-05-15 14:38] zeemy23 commented on #162
That can be pretty easily achieved in a day or 2 using argocd's config management plugin: https://argoproj.github.io/argo-cd/user-guide/config-management-plugins/

This tool is very exciting!

[2020-05-15 15:56] RohitR1 commented on #162
Is it possible to add a full end to end example with that?

[2020-05-15 19:10] powellquiring opened #165 "[BUG] python There was an unexpected error while activating your virtualenv. Continuing anyway"
**Describe the bug**
All cdk8s commands generate warning:

Warning: There was an unexpected error while activating your virtualenv. Continuing anyway...

**To Reproduce**
[code]

[2020-05-15 20:08] powellquiring commented on #165
These instructions worked for me.
[code]

I think the export is the critical part.

Why is pipenv required?  Maybe the resolution for this issue is to remove the dependence on pipenv?

[2020-05-15 20:11] jmmars commented on #163
I'll  see if I can patch this getting-started/python.md this weekend after looking over your contrib guide. Basically, it just needs to be clearer on prereqs.

Looking forward: At some point, for some systems might be able to do a more programmatic check to make sure base reqs will enable an easy install.

[2020-05-15 20:46] abhioncbr opened #166 "[BUG] cdk8 init python-app issue"
**Describe the bug**
Failed cdk8 init python-app.

**To Reproduce**
[code]

**Expected behavior**
It should create a project without nay issue.

**Additional context**
Add any other context about the problem here.

[2020-05-15 20:48] abhioncbr commented on #166
Also, it requires pipenv.

[code]

[2020-05-15 21:21] deepgorthi commented on #166
I was able to successfully to initialize a new project dir moments ago. I followed almost the same steps as you. But instead of doing
[code]
as mentioned in https://pipenv.kennethreitz.org.

I did
[code]
and that helped me successfully initialize a new project.

Can you please try that and let me know if that helps fix the issue you are seeing?

My thinking is that maybe the pipenv is not correctl

[2020-05-15 21:31] deepgorthi commented on #105
Hi @tabern, I am looking to contribute to this project. I came across your Issue but I do not see a problem in the website similar to what you mentioned. Is this issue closed/resolved?

[2020-05-15 21:36] abhioncbr commented on #166
Same result in my case after following

[code]

[2020-05-15 21:51] abhioncbr commented on #166
It's really funny, it did work with python3.7.7

[code]

[2020-05-15 22:01] abhioncbr commented on #166
Overall, It worked with python `/usr/local/bin/python3 (3.7.7)` and the latest `pipenv (2018.11.26_4)`.

I think all the Pipfile need a change. @eladb let me know if you want that change?

[2020-05-15 22:08] abhioncbr commented on #165
Looks like, this issue is somewhat same https://github.com/awslabs/cdk8s/issues/166

[2020-05-16 05:18] jk-gan commented on #152
I'm not so sure with this, we might need the team to confirm this

[2020-05-16 12:13] JCzz opened #167 "Golang alpha - something to test/play with"
This is so cool and so the right direction for K8s configuration - thanks!

Any way we can test/play and help with Go support?

[2020-05-16 18:49] rafaribe commented on #167
https://github.com/awslabs/cdk8s/issues/119
Upvote this if you care about go !

[2020-05-16 19:31] JCzz commented on #167
Thanks already did ;-) But this will not be created in a day, so maybe something is on the way we can play with - or maybe just get started with client-go.

[2020-05-17 08:30] eladb opened #169 "Testing utility"
We would like to offer utilities for unit testing in the `cdk8s.Testing` class.

Here are some examples of useful assertions:

1. Assert that a chart synthesizes a manifest with a specific API object of a specific kind and optionally: `apiVersion`, a subset of properties (or exact match)
2. assert count of API objects from a certain kind
3. Assert that a chart synthesizes a manifest that matches a

[2020-05-17 08:30] eladb opened #2173 "Unit testing utilities"
We would like to offer utilities for unit testing in the `cdk8s.Testing` class.

Here are some examples of useful assertions:

1. Assert that a chart synthesizes a manifest with a specific API object of a specific kind and optionally: `apiVersion`, a subset of properties (or exact match)
2. assert count of API objects from a certain kind
3. Assert that a chart synthesizes a manifest that matches a

[2020-05-17 18:05] eladb commented on #152
Support for new languages is done through https://github.com/aws/jsii which means both the AWS CDK and cdk8s will be supported.

[2020-05-17 18:07] eladb commented on #105
I think this is no longer an issue.

[2020-05-17 18:08] #105 closed

[2020-05-18 03:12] jk-gan commented on #152
That is awesome!

[2020-05-18 03:59] ratnadeep007 opened #170 "[BUG] Unable to run Python version of cdk8s"
**Describe the bug**
Created new cdk8s python project and ran `cdk8s synth` got following error.

[code]
Also tried running hello-python example getting following error:

[code]

**To Reproduce**
1. Initialized app using `cdk8s init python-app`
2. `pipenv install` followed by `cdk8s import --language python` then ran `cdk8s synth`

For hello-python followed instructions from README which is same a

[2020-05-18 04:24] pickfire commented on #152
Why not? https://www.amazon.jobs/en/jobs/1124901/senior-software-development-engineer-aws-rust-sdk

[2020-05-18 04:29] jk-gan commented on #152
Cool! I'm interested haha. Let's make Rust be one of the top languages for cloud application development 🎉🎉🎉

[2020-05-18 05:22] julienperignon opened #171 "[BUG] importing a CRD with complex union types fails"
**Describe the bug**
When trying to import the virtualservice CRD from Istio the import fails midway

**To Reproduce**

`npm run import https://gist.githubusercontent.com/julienperignon/bc2ca51e90408a8e3d5cf632900f5267/raw/b0fa0cc5bfef428b0c6bb3894adf25f8be686ac9/virtualservice.yaml
`

**Expected behavior**
CLI should not fail
imports/virtualservice.ts should be complete

**Additional context**
[c

[2020-05-18 05:26] eladb commented on #152
Copy @RomainMuller

[2020-05-18 05:40] eladb commented on #167
Closing as duplicate

[2020-05-18 05:41] #167 closed

[2020-05-18 05:45] eladb commented on #166
@abhioncbr yes please!

[2020-05-18 08:38] RomainMuller commented on #152
Created aws/jsii#1684 to track interest in Rust closer to `jsii`. Go hammer it with 👍 !!

[2020-05-18 12:52] Encryptic commented on #171
I've also encountered this with the istio manifest, located here: https://raw.githubusercontent.com/istio/istio/1.5.4/manifests/base/files/crd-all.gen.yaml

I believe it's related to how the union code expects to handle these objects assuming they're all going to be types, not other sub objects.

Here's an example of the spec that causes a validation failure:
`http:
              description: An o

[2020-05-18 19:32] mziyabo opened #172 "Multiline configmap data produces output with lines separated by empty lines"
Multiline configmap data produces output with lines separated by empty lines
---------------------------------

The output of the [suggestion #86 ](https://github.com/awslabs/cdk8s/issues/86) is a little off (i.e. not pretty). For example, with the snippet below:
You will get a yaml file with empty lines in between each line in the array.
To contrast, running `console.log(daemonfile)` in TypeScrip

[2020-05-19 01:15] jmarcos-cano commented on #166
same issue here:

after installing using brew, installing pipenv using `pip3 install --user pipenv`  and creating first app it crashes? (not sure if it really crashes it actually creates the files but exit code 1

[code]

[code]

[2020-05-19 01:28] julienperignon opened #173 "[Suggestion] Possibility to configure YAML library options"
**Is your feature request related to a problem? Please describe.**
I would like to be able to control how the yaml is being outputted

**Describe the solution you'd like**
Have access to the YAML package options https://eemeli.org/yaml/#options before calling .synth() method.

[2020-05-19 15:19] rzgry opened #174 "readme example links are broken"
readme links under https://github.com/awslabs/cdk8s#examples are broken.

Ex. https://github.com/awslabs/cdk8s/blob/master/examples/hello or https://github.com/awslabs/cdk8s/blob/master/examples/web-service

[2020-05-19 15:20] iliapolo commented on #166
I don't think it's caused solely because of the `3.7.3` version. Using `3.7.3` under `pyenv` works well:

[code]

@abhioncbr The failure happened for you when `pipenv` was using `/usr/bin/python3`, which is the stock python distro that comes with the OS. I suspect the issue lies somewhere there.
I suspect it might also be an issue with `pipenv`, since the logs clearly state:

[code]

Immediately a

[2020-05-19 15:38] abhioncbr commented on #166
@iliapolo well, I used python packages in my local dev environment first time for this project. I am not sure about the issue, but with python 3.7.7, it worked. Definitely need more digging.

[2020-05-20 07:57] eladb opened #178 "Deleting objects (pruning)"
We propose that cdk8s will have built-in support for [`kubectl --prune`](https://kubernetes.io/docs/tasks/manage-kubernetes-objects/declarative-config/#how-to-delete-objects).

[2020-05-20 08:16] #174 closed

[2020-05-21 03:56] GregoryHlavac commented on #117
Though, specific kotlin support could be nicer with how the DSL syntax in it can work.

[2020-05-22 01:22] PtD opened #182 "cdk8s-cli import doesn't work on Windows"
### Description of the bug:
When running
**cdk8s -l python import k8s**

I get the following error:

[code]
Also, the symlink operation that is done at a previous step, requires that cdk8s should be started as Administrator, which is not very convenient.

### Reproduction Steps:
On Windows shell (cmd or PowerShell, all the same), run:
**cdk8s -l python import k8s**

### Error Log:
[code]

### Envi

[2020-05-22 02:40] carltonmason commented on #141
This would be awesome feature!

[2020-05-22 12:19] carltonmason opened #185 "Named imports are not yet supported in python"
### Description of the feature or enhancement:

Support named imports in python.  This seems to be a known limitation given the `cdk8s import` message below.

### Use Case:

I want to use python with cdk8s and import Tekton CRDs so that I can imperatively generate Tekton Pipelines.

### Proposed Solution:

Sorry, I have no idea...

### Other:

[code]

* [ ] :wave: I may be able to implement this f

[2020-05-22 13:14] inge4pres commented on #134
Maybe dumb question: is there an overview of what it takes to create a new language support? Sort of a technical description of the requirements and how to get started with it

[2020-05-22 18:24] ankitmahapatra22 opened #189 "Add a lib folder and some extra constructs to generated project"
### Description of the feature or enhancement:

I found the new WebService construct documented in https://github.com/awslabs/cdk8s/blob/master/docs/getting-started/typescript.md very useful and I think it should be created by default in the generated project within the lib folder.
Custom constructs for databases like Redis, Postgres can be added to the lib folder.

### Use Case:
Higher abstractio

[2020-05-23 06:58] khteh opened #190 "Windows 10 cdk8s command not found after installed from pip"
### Description of the bug:

I install cdk8s on Windows 10 using pip but don't manage to run the command successfully.
[code]
What do I miss? Thanks.

### Reproduction Steps:

### Error Log:

### Environment:

  - **Framework Version**:
  - **OS**: Windows 10

### Other:

---

This is :bug: Bug Report

[2020-05-23 10:10] 030 commented on #170
The app was installed using pip see, https://pypi.org/project/cdk8s/0.21.0/, but when `cdk8s` is run, the command cannot be found.

[2020-05-23 13:19] FlorianLudwig opened #192 "Docs: Add explanation for "IntOrString""
### Description of the feature or enhancement:

From the document `getting-started/python.md`:

`k8s.ServicePort(port=80, target_port=k8s.IntOrString.from_number(8080))`

The documentation is missing an explanation what `k8s.IntOrString.from_number` is doing or why it is needed.

### Proposed Solution:

Either of:

1. Update documentation and add explanation
1. Remove `IntOrString` and allow using

[2020-05-23 13:38] FlorianLudwig opened #193 "add ability to add spec to Deployment after object creation"
### Description of the feature or enhancement:

After creating a `k8s.Deployment` it seems not possible to add a `k8s.DeploymentSpec`.

### Use Case:

Making code easier to read and more flexible.

"You can express rich interactions with methods and properties" from [programmatically defined Helm chart](https://github.com/awslabs/cdk8s/blob/master/docs/getting-started/python.md#constructs).

### P

[2020-05-23 14:36] FlorianLudwig opened #194 "imports.k8s not properly typed but marked as typed"
### Description of the bug:

The k8s directory contains the `py.typed` marker, indicating that the library is typed but contains 1461 typing errors according to mypy.

### Reproduction Steps & Error Log:

[code]

### Environment:

  - **Framework Version**: 0.21.0
  - **OS**: Linux

---

This is :bug: Bug Report

[2020-05-24 02:31] #190 closed

[2020-05-24 05:53] #185 closed

[2020-05-24 07:37] khteh opened #195 "Windows 10 failed to initialize a new python-app"
### Description of the bug:

[code]
[code]

### Reproduction Steps:

### Error Log:

[code]
### Environment:
  - **Framework Version**: 0.21.0
  - **OS**: Windows 10

### Other:

---

This is :bug: Bug Report

[2020-05-24 08:36] eladb opened #196 "import: support enums in JSON schema"
Respect `enum` in the JSON schema when importing CRDs and APIs.

For example, this schema:

[code]

Should be imported as:

[code]

[2020-05-24 08:54] eladb opened #197 "import: import CRDs from cluster"
It should be possible to import CRDs from a running cluster.

Should be trivial:

[code]

Returns a list of CRD objects.

[2020-05-24 10:23] eladb opened #199 ""Include" construct for inclusion of existing manifests"

[2020-05-24 10:35] ankitmahapatra22 commented on #195
@khteh What is the version of Node that you are using ?

[2020-05-24 10:37] khteh commented on #195
10.9.0

[2020-05-24 11:19] khteh commented on #195
[code]

[2020-05-24 11:40] ankitmahapatra22 commented on #195
Yes, pipenv also has to be installed along with Node with a version > 12.0

[2020-05-24 11:41] khteh commented on #195
[code]

[2020-05-24 12:40] ankitmahapatra22 commented on #195
Did you get any error this time ?

[2020-05-24 12:47] khteh commented on #195
It was installed.

[2020-05-24 13:41] ankitmahapatra22 commented on #195
Ok. I had to try it with git bash because "which" keyword is not recognised in Windows.

#163

[2020-05-25 11:46] wonderflow commented on #166
+1 with the same issue, and for anyone who is facing this issue, you can install python 3.7.7 and switch pipenv to your new installed path of python.

For me:

[code]

And finally it works now:

[code]

[2020-05-25 13:30] mirelon opened #204 "Scala support"
This is not covered by Java support. Scala provides better type system and stronger compiler. Navigating the code can be even easier.

[2020-05-25 13:38] ajaegle commented on #160
This feature would be great to have so we can import pre-existing yaml resources and transform them according to e.g. the workspace the current chart will be deployed to, adding missing labels or use a common naming scheme.

Is there an alternative way to weakening the immutability of the constructs? Or is cloning for the transformation a bad idea in terms of parent-child relation (scope)?

[2020-05-26 13:54] #199 closed

[2020-05-26 15:39] #197 closed

[2020-05-26 15:45] eladb commented on #182
Fixed by #205

[2020-05-26 15:45] #182 closed

[2020-05-26 17:26] eladb commented on #134
Language support will be added through [jsii](https://github.com/aws/jsii) which should have details on what it takes to add a new language. It’s a rather major endeavor which we are tackling one by one. Next up is Go.

[2020-05-26 18:39] eladb opened #209 "python: unable to import network.aws.crossplane.io/vpc"
### Description of the bug:

When trying to import the `network.aws.crossplane.io/vpc` CRD in python, I am getting the following error:

[code]

---

This is :bug: Bug Report

[2020-05-26 20:09] eladb commented on #194
@romainmuller any ideas?

[2020-05-26 20:10] eladb commented on #193
Duplicate #160

[2020-05-26 20:10] #193 closed

[2020-05-26 20:10] eladb commented on #173
Which options are you looking for specifically?

[2020-05-26 20:15] eladb commented on #170
Not reproducing in 0.23.0. Closing for now. Please reopen if this persists.

[2020-05-26 20:15] #170 closed

[2020-05-26 20:17] eladb commented on #189
We prefer not to bloat our project templates. The recommended way to vend abstractions in the cdk8s is to publish construct libraries such as [cdk8s-debore](https://github.com/toricls/cdk8s-debore), [cdk8s-redis](https://github.com/toricls/cdk8s-redis) and [more](https://github.com/dungahk/awesome-cdk8s).

[2020-05-26 20:17] #189 closed

[2020-05-27 00:31] julienperignon commented on #173
Hi @eladb

This one in particular :
`YAML.defaultOptions.indentSeq = false;`

[2020-05-27 08:22] #196 closed

[2020-05-27 10:19] RomainMuller commented on #194
What are the errors though? Can you get those into a pastebin or something?

[2020-05-27 11:23] #171 closed

[2020-05-27 13:50] #209 closed

[2020-05-27 13:57] sumit180591 opened #214 "cdk8s installation issue"
While installing cdk8s on centos 7 I encountered with following error:

[code]

And while installing with npm I got this error:

[code]

Reference link: https://github.com/awslabs/cdk8s/blob/master/docs/getting-started/python.md

[2020-05-27 14:01] eladb commented on #214
Can you please upgrade to node >= 13.0?

[2020-05-27 14:36] sumit180591 commented on #214
Thanks for quick response!!!

I have upgrade the node and try the following command:-
cdk8s]$ sudo cdk8s init python-app
Initializing a project from the python-app template
which: no pipenv in (/sbin:/bin:/usr/sbin:/usr/bin)
Unable to find "pipenv". Install from https://pipenv.kennethreitz.org

Additionally FYI I have already install pipenv with following command :-
brew install pipenv

[2020-05-27 14:47] sumit180591 commented on #214
Thanks for a quick reply!!!!

Its worked for me...Now I am getting the following issue
Please find the attachment
![cdk8s](https://user-images.githubusercontent.com/65972884/83035391-04b82f80-a057-11ea-9c66-3ccd047eaf59.PNG)

[2020-05-27 15:44] eladb opened #215 "Error when importing enum values that start with a numeric character"
### Description of the bug:

For example, this is from `postgressqlinstance.database.crossplane.io`:

[code]

Oouch....

---

This is :bug: Bug Report

[2020-05-27 21:00] bassam opened #216 "Support for dynamically importing CRDs from a source"
Would be great if cdk8s support importing CRDs dynamically from a K8S cluster, or other source like docs.crds.dev and managed the process of keeping the CRDs up to date.  Maybe something like `cdk8s set-crd-source kube-cluster`

[2020-05-28 06:40] 030 commented on #170
@eladb Sorry, but it does not seem to work. I just installed 0.24.0 and when I issue cdk8s, a command not found is returned. If I run the sample code, it does not work as well:

[code]

python file.py, returns:

[code]

[2020-05-29 16:03] mreferre opened #217 "Non-autogenerated K8s service name required"
### Description of the feature or enhancement:

I would like to be able to create a K8s service with a specific name. Similar to this:
[code]
The above creates a service called `yelb-appserver` that the internal Kubernetes resolution can resolve as `yelb-appserver`.

### Use Case:

I need this because some applications assume a specific dns name when they call other parts / other services. In the

[2020-05-29 16:41] mreferre commented on #217
User error.

This is as simple as adding the name to the metadata.

[code]

[2020-05-29 16:41] #217 closed

[2020-05-30 14:55] iliapolo commented on #166
After another round of debugging, i'm still unable to reproduce the issue.
I've tried various permutations of `python/pipenv` using all suggested installation methods.

The errors reported here happen when using the **stock** python 3.7.3 distribution that is bundled with MacOS. Being the stock version, i'm not exactly sure how to create this setup, as any python installation will result in what I

[2020-05-30 14:55] #166 closed

[2020-06-01 03:44] erdody opened #219 "Options type not generated for Elasticsearch CRD"
### Description of the bug:

After running the import on [elasticsearch CRDs](https://github.com/elastic/cloud-on-k8s/blob/master/config/crds/all-crds.yaml#L458), I don't see a type for the options field. This is all I get:

[code]

### Reproduction Steps:

[code]

### Error Log:

No errors in the logs. Import succeeds, but it doesn't generate the options type.

### Environment:

  - cdk8s 0.24.0

[2020-06-01 07:33] #22 closed

[2020-06-01 07:35] eladb commented on #91
Only python 3.7.7 and above is supported.

[2020-06-01 07:35] #91 closed

[2020-06-01 07:37] eladb commented on #109
@campionfellin I still don't fully understand this workflow. The referenced YAML does not declare the "Service" type, it just uses a resource of that type. `cdk8s import` is designed to generate types...

[2020-06-01 07:42] eladb commented on #216
@bassam can you provide more details about the workflow you are envisioning here? Would you expect your `imports/` directory to "watch" the cluster and regenerate all the types when CRDs are updated?

[2020-06-01 09:35] eladb commented on #170
Do you have an `imports` directory in your project? (did you run `cdk8s import`?).
Also, what python version are you using?

[2020-06-01 11:07] 030 commented on #170
pip3 list
Package                Version
---------------------- -------------
cdk8s                  0.24.0

python3 --version
Python 3.8.2

Although cdk8s has been installed according to pip, the executable cannot be found on the path, while this works for other python executables.

[2020-06-01 13:17] bassam commented on #216
I was imagining something like

[code]

this would import all crds from the source. I would not watch the `source` and re-import automatically as this could cause breaking changes (despite CRDs following good schema versioning rules)

[2020-06-01 20:55] cweidinger commented on #21
One specific way that we're using helm that cannot be replicated by cdk8s (until this feature is implemented) is optionally creating a resource based on helm values provided deploy time. We'd like one deployable artifact (a helm chart) that can be deployed to any region or level and use helm (or native integration into ArgoCD) values to optionally create resources.

[2020-06-02 03:47] campionfellin commented on #109
Re-reading this, it seems I was confused about the functionality of `cdk8s import` at the time. Closing.

[2020-06-02 03:47] #109 closed

[2020-06-02 13:59] abtalerico commented on #219
I have been seeing the same issue with these CRDs. They both contain OpenAPIV3 schemas.
[Flagger](https://raw.githubusercontent.com/weaveworks/flagger/master/artifacts/flagger/crd.yaml)
[Argo CD Application](https://raw.githubusercontent.com/argoproj/argo-cd/master/manifests/crds/application-crd.yaml)

[2020-06-02 14:03] trevorrobertsjr commented on #170
Additional context
Operating System: macOS Mojave
Python version:3.7
Pipenv version: version 2020.6.2
cdk8s Installation method: Homebrew (0.24.0)
Shell: Bash

I'm getting the following error output when I try to do a cdk8s init:

`{ Error: Command failed: pipenv run ./main.py
Courtesy Notice: Pipenv found itself running within a virtual environment, so it will automatically use that environment,

[2020-06-02 19:26] trevorrobertsjr commented on #170
For anyone who may be running into this. I resolved due to a hint I picked up in the CDK documentation that pointed to cdk.json as an area that may need to be updated: https://docs.aws.amazon.com/cdk/latest/guide/work-with-cdk-python.html

cdk8s doesn't have this config file, AFAIK, but I changed the Python interpreter command in in the cdk8s-generated main.py to python3 instead of python due to w

[2020-06-03 05:21] nimakaviani opened #225 "Setting the namespace seems to be broken for Python"
### Description of the bug:

I am using ckd8s v 0.24.0 and I have tried to set the namespace when deploying the `hello world` example both for Python and Typescript.

I noticed PR https://github.com/awslabs/cdk8s/pull/68 allows for setting the namespace by passing it as a chart option.

For the [Typescript version of hello world](https://github.com/awslabs/cdk8s/tree/85cf6313c20771b718c19ee6085afc

[2020-06-03 06:53] zzxwill opened #227 "Error: connect ECONNREFUSED 0.0.0.0:443"
### Description of the bug:

[code]

### Reproduction Steps:

Run the [New Project](https://github.com/awslabs/cdk8s/blob/master/docs/getting-started/python.md#new-project) creation.

### Error Log:

### Environment:

  - **Framework Version**:
  - **OS**:
[code]

### Other:

---

This is :bug: Bug Report

[2020-06-03 21:09] mbonig commented on #65
I recently went through the manual process of converting a helm chart (MySQL) to a cdk8s construct.  Not sure how you'd do it automatically unless there is a nice way of parsing go-templates...

[2020-06-05 20:39] paguos commented on #227
I have the same issue

[2020-06-08 11:16] eladb commented on #165
@powellquiring can you please check if this persists and comment here if we need to reopen?

[2020-06-08 11:16] #165 closed

[2020-06-08 11:16] eladb commented on #195
Duplicate #163

[2020-06-08 11:16] #195 closed

[2020-06-08 11:17] eladb commented on #214
Dup #163

[2020-06-08 11:17] #214 closed

[2020-06-08 12:26] eladb commented on #225
No need to use `ChartOptions`, this should work:

[code]

[2020-06-08 12:26] #225 closed

[2020-06-08 12:30] eladb commented on #227
@zzxwill does this persist (i.e. happens every time you run `cdk8s init`) or sporadically?

[2020-06-08 12:39] eladb commented on #219
Thanks, looking.

[2020-06-08 12:41] zzxwill commented on #227
Yes, it persists. It failed after I gave it another try.

[2020-06-09 11:08] #111 closed

[2020-06-09 12:07] #219 closed

[2020-06-10 09:26] eladb commented on #194
@FlorianLudwig please see @RomainMuller's question above. Would love to dig deeper.

[2020-06-10 10:24] FlorianLudwig commented on #194
@eladb @RomainMuller  here you go: https://pastebin.com/mabVEJ2u

[2020-06-10 10:41] FlorianLudwig opened #231 "Design decision documentation for constructs"
### Description of the feature or enhancement:

I've been playing around with cdk8s and have not fully understood what `Constructs` are for / how they are meant to be used.  As I write a lot more python than typescript - this is from my personal python-focused view :)

I marked this a feature request as I am looking for more documentation. (But could just be as well just a question ;))

From the d

[2020-06-10 10:55] eladb commented on #231
I agree we need more conceptual documentation in this project.

The main purpose of constructs is to enable composition. The idea is that a construct represents an abstract component that can be implemented by means of other constructs.

You can find some more conceptual documentation in the [AWS CDK Developer Guide](https://docs.aws.amazon.com/cdk/latest/guide/constructs.html).

Let me know if th

[2020-06-10 14:31] FlorianLudwig opened #232 "Documentation about name generation"
### Description of the feature or enhancement:

Names (as in `.metadata.name`) are automatically generated from the name given to the construct. This is a request to add to the documentation: How are those names generated, especially how stable are they? (As in when do they change)

As #217 points out is it possible to workaround this but I like to add the reasoning why this is done to the documen

[2020-06-11 00:28] manparvesh commented on #169
Hey @eladb can I work on this issue? I'm really interested in contributing to this project.

[2020-06-11 05:10] eladb commented on #169
Yes, absolutely. You can find inspiration in the how the [AWS CDK testing](https://docs.aws.amazon.com/cdk/latest/guide/testing.html) works and the [@aws-cdk/assert](https://www.npmjs.com/package/@aws-cdk/assert) module. I was wondering if perhaps we should actually write this as a general purpose JSON assertion library instead of cdk8s specific.

Would you be able to write a quick [RFC](https://g

[2020-06-11 05:22] campionfellin opened #234 "Java Issue Importing Jenkins CRD"
### Description of the bug:

I'm trying to import this CRD: https://raw.githubusercontent.com/jenkinsci/kubernetes-operator/master/deploy/crds/jenkins.io_jenkins_crd.yaml

But the Java package name ends up as `jenkins.io/jenkins` which is invalid.

### Reproduction Steps:

`cdk8s import -l java https://raw.githubusercontent.com/jenkinsci/kubernetes-operator/master/deploy/crds/jenkins.io_jenkins_cr

[2020-06-11 06:07] eladb commented on #234
I think the fix should be in the java import code path. `moduleName` is "agnostic" and each language should mangle it based on it's constraints.

[2020-06-11 21:24] SodaGremlin opened #235 "Install fails in a directory named cdk8s"
### Description of the bug:
When initializing a new typescript project with in a directory named cdk8s the install will fail.

### Reproduction Steps:
1. Create `cdk8s`
2. Install the cli
3. run `cdk8s init typescript-app`

### Error Log:
$cdk8s init typescript-app
Initializing a project from the typescript-app template
npm ERR! code ENOSELF
npm ERR! Refusing to install package with name "cdk8s" u

[2020-06-14 08:46] eladb opened #236 "Omit duplicate components when rendering object names"
### Description of the feature or enhancement:

As sugar, we should omit adjacent duplicate components when rendering object names.

Instead of:

    redrive-redrive-app-configmap-e2d51b95

We should render:

    redrive-app-configmap-e2d51b95

### Use Case:

Shorten the names.

* [ ] :wave: I may be able to implement this feature request
* [ ] :warning: This feature might incur a breaking change

[2020-06-15 05:54] eladb commented on #235
This is a limitation of npm and I don't believe there is anything we can do about this. The error is also pretty good:

[code]

Is there anything else you think we can do to make this less painful?

[2020-06-16 09:20] RomainMuller commented on #194
@FlorianLudwig are you using any particular configuration for `mypy`, or all default? (I just want to be certain I reproduce your conditions as precisely as possible)

[2020-06-16 11:54] FlorianLudwig commented on #194
All defaults.

[2020-06-22 14:38] trippl opened #242 "Support proxy environments"
### Description of the feature or enhancement:
As of now `cdk8s import k8s --language <lang>` will fail, if run within an environment that requires http(s) requests to go through a proxy. AFAIK the default node http(s) modules - which seem to be used within `cdk8s-cli/lib/util.js`  - do not support the `HTTP_PROXY` and `HTTPS_PROXY` env variables.

### Use Case:
I would assume that most company pr

[2020-06-30 04:38] campionfellin commented on #236
I'll take this on next.

[2020-06-30 05:15] eladb commented on #236
Cool. Perhaps needless to say, but the hash component should not change.

[2020-06-30 05:19] campionfellin commented on #236
Yeah, mostly done here. What do you want in these two cases?

[code]

Easy case is `toDnsName('hello/hello/foo/world')` and I think for 2. we could go with `hello-foo`, but seems like 1. is pretty intentionally duplicate. Does that make sense or do we want to remove from all?

[2020-06-30 05:23] eladb commented on #236
Leave as is. Agreed.

Mmm... let’s leave as is as well.

[2020-06-30 06:00] #234 closed

[2020-07-01 10:40] #236 closed

[2020-07-02 01:04] resouer commented on #24
I think this means publishing constructs as CRD, correct?

For example, export the [podinfo](https://github.com/awslabs/cdk8s/blob/85cf6313c20771b718c19ee6085afc23cd787311/examples/typescript/podinfo/examples/app-example.ts#L7) construct into a CRD, which can be instantiated as CR. Not sure if I understand it correctly, but what this higher abstraction object expected be used for?

[2020-07-08 03:05] samschlegel commented on #235
`cdk8s init` could have an option to set the name of the package, and then check to see if the current folder name is `cdk8s`. If it is, then it could error out before the templating starts and suggest the use of the flag.

[2020-07-09 05:35] campionfellin opened #260 "cdk8s repository should accurately reflect language of the project"
### Description of the bug:

This is currently what Github tags the languages as:

<img width="331" alt="Screen Shot 2020-07-08 at 10 14 35 PM" src="https://user-images.githubusercontent.com/11984923/86999893-917efe80-c168-11ea-8a85-28a5c19c0575.png">

While probably technically true due to the examples and integration tests, this is largely a Typescript project, not a Python project.

### Reprodu

[2020-07-09 05:38] campionfellin commented on #144
Assigned myself to start working on this!

[2020-07-09 06:46] eladb commented on #144
@campionfellin Great!

Let’s try to do a mini-RFC for this to finalize the API.

Basically just submit your PR with only the README entry (“work backwards from the readme”).

[2020-07-10 18:02] rothgar opened #262 "Use language specific package managers to distribute re-usable libraries"
### Description of the feature or enhancement:
Currently if I want to use cdk8s+ in python I need to install cdk8s-cli via npm. That doesn't make sense with other libraries and tools devs use.
We should distribute our language specific libraries via their respective package managers (eg pip) and document how other developers can distribute their own libraries publicly and privately.

### Use Case:

[2020-07-10 18:22] iliapolo commented on #262
Hi @rothgar

Actually, *cdk8s+* is already distributed to PyPI: https://pypi.org/project/cdk8s-plus/.

Have a look at an [example usage](https://github.com/awslabs/cdk8s/tree/master/packages/cdk8s-plus#python)

Is this what you meant?

The CLI is only needed if you want to dynamically generate code using the *cdk8s import* command, but to use the [constructs](https://github.com/awslabs/cdk8s/tree/

[2020-07-10 18:53] rothgar commented on #262
Wow thanks! I don't know how I missed that. Is there documentation recommending how users create and distribute their own libraries? We can probably just link to how cdk8s and cdk8s-plus already do it.

I think I'll look at the examples more and maybe create a PR for an example without using `cdk8s` binary. A pure python or pure node example probably would have helped me understand when and where

[2020-07-10 19:12] iliapolo commented on #262
@rothgar So actually *cdk8s* is just a regular `jsii`, and you can have a look here on how to set it up: [Publishing Modules](https://github.com/construct-catalog/catalog#publishing-modules).

*cdk8s-plus* is a little different in that in also vends the auto-generated L1 constructs that were imported (once) using the cdk8s-cli. I agree we should have proper documentation on how to do that though.

[2020-07-10 19:15] iliapolo opened #263 "Add documentation on how to vend cdk8s based libraries"
Lets add some guidance on how to vend libraries like `cdk8s-plus`. Essentially ones that rely on the auto-generated code produced by the cdk8s-cli. This flow is a little different from normal library authoring.

[2020-07-10 20:51] rothgar commented on #262
Yes, excellent. Thank you

[2020-07-11 09:05] iliapolo commented on #262
Closing in favor of https://github.com/awslabs/cdk8s/issues/263

[2020-07-11 09:05] #262 closed

[2020-07-11 17:50] dillon-odonovan opened #264 "'Getting Started with Typescript' documentation neglects replicas property of WebServiceOptions"
### Description of the bug:

I was going through the documentation for the 'Getting Started with Typescript' example and noticed that it appears the `replicas` property of `WebServiceOptions` is not being used.

We see several other nullable properties being assigned default values in the constructor, such as in the case of
[code]
However, there is not an equivalent line to this for `replicas`. In

[2020-07-12 05:51] #260 closed

[2020-07-12 17:12] walidshaari opened #265 "cdk8 init python-app fails "{ Error: Command failed: pipenv install cdk8s~=0.26.0""
### Description of the bug:

from over 20-30 inits for python-app, I have only two successful inits and always successful typescript-app.  tried updating packages and using a new user to ensure I have a clean environment.

cdk8s init python-app does not initiate an app, fails during the pipenv install cdk8s

### Reproduction Steps:

- mkdir test  && cd test
- cdk8s init python-app
- fails to compl

[2020-07-13 16:04] RobertHorrox opened #267 "Cannot Import Istio CRD's due to error"
### Description of the bug:
When importing istio 1.5.8 crds I get a PascalCase error that fails the import

### Reproduction Steps:
curl https://raw.githubusercontent.com/istio/istio/1.5.8/manifests/base/files/crd-all.gen.yaml > istio_crds.yaml
cdk8s import istio_crds.yaml

### Error Log:
[code]

### Environment:
- cdk8s --version  = 0.26.0
- **OS**: OSX
- Python : 3.8.3

### Other:
Project is a p

[2020-07-13 16:13] cmdallas commented on #264
fixed in https://github.com/awslabs/cdk8s/commit/0f70a4fa0a471b27b3c75e25d0609935060b44ed

[2020-07-16 09:52] eladb commented on #267
@campionfellin would you be able to take a look at this?

[2020-07-16 09:53] #264 closed

[2020-07-16 13:31] campionfellin commented on #267
Yep, I can take this

[2020-07-16 15:53] #267 closed

[2020-07-24 03:46] zzxwill commented on #227
Any update, thanks.

Today, I upgrade cdk8s version to 0.26 and Python version to 3.8.5. Nothing changes.

[2020-07-24 03:46] zzxwill commented on #227
Hi @paguos Have you find any solution? Thanks.

[2020-07-24 07:13] paguos commented on #227
No, I was using an old Mac Book Air (2014) ... With more recent models I don't experience this issue.

[2020-07-24 13:36] pgollucci commented on #141
Yes definitely this one. 👍

[2020-07-24 13:37] pgollucci commented on #65
how is this going to be different from cluster.addChart() ?

[2020-07-24 13:38] pgollucci commented on #24
I would like to understand this better too.

[2020-07-24 18:20] gabe-l-hart opened #273 "Multiple Imports Fail To Synth"
### Description of the bug:

When working on a project with multiple imports (such as the [example for CRDs](https://github.com/gabe-l-hart/cdk8s/tree/master/examples/python/crd)), the `cdk8s import` function works smoothly to generate the full set of definitions, but `cdk8s synth` (or invoking `app.synth()` from code) results in a `jsii.errors.JavaScriptError` due to conflicting definitions of th

[2020-07-24 20:34] gabe-l-hart commented on #273
Some further investigation is showing that this is likely caused due to the name collision with `generated` triggering `jsii` to fail to properly install the second instance. [This section](https://github.com/aws/jsii/blob/master/packages/@jsii/kernel/lib/kernel.ts#L113) of the `jsii` kernel seems to be performing the untar operation directly into the temporary `installDir`, but silently ignoring

[2020-07-24 20:53] gabe-l-hart commented on #273
More investigation:

I was able to get my repro case "working" by doing the following steps (not a fix, but hopefully another helpful pointer towards one):

1. For one of the generated `jsii` tarballs, untar it in a temporary directory
1. Replace all mentions of the string `generated` with `generatedFoo` in the `.jsii` file and `package.json` file
1. Re-tar that modified `package` directory as `ge

[2020-07-24 21:34] gabe-l-hart commented on #273
As a temporary workaround, I'm going to use the following script to refactor the generated imports after the initial generation pass:

[code]

[2020-07-26 09:12] eladb commented on #273
@gabe-l-hart thanks so much for the great report and analysis. Sounds like indeed the issue is in [jsii-srcmak](https://github.com/aws/jsii-srcmak). I am transferring the issue to srcmak for follow up.

[2020-07-26 09:13] eladb commented on #273
@campionfellin would you like to take a look at this?

[2020-07-26 10:16] iliapolo commented on #227
@zzxwill Does this also happen when you `cdk8s init typescript-app`?

[2020-07-26 13:55] campionfellin commented on #273
I'll take a look!

[2020-07-27 03:03] campionfellin commented on #273
Indeed, it does look like this line: [jsii-srcmak/src/compile.ts#L51](https://github.com/aws/jsii-srcmak/blob/master/src/compile.ts#L51) is the issue here.

Replaced it with a random string, and re-built everything and it seemed to work.

I'll look for a way to replace that `generated` with something that makes sense, and I'll update the Python examples. Thanks for the detailed bug report @gabe-l-

[2020-07-27 08:20] zzxwill commented on #227
@paguos Thanks for the confirmation.
@iliapolo Yes.
[code]

[2020-07-27 14:16] gabe-l-hart commented on #273
Thank you for the investigation! I'll keep an eye out here for an updated release with the new changes.

[2020-07-27 18:32] gabe-l-hart opened #274 "Import generated directory structure invalid for python import with dashes"
### Description of the bug:
When running `cdk8s import` against a CRD whose custom resource group name contains dash characters (`-`), the resulting directory structure also contains dashes in the directory names. For a `python` app, this is invalid for `import`, making the resulting package unreachable from within the `python` code.

### Reproduction Steps:

1. In the [crd example](https://github

[2020-07-28 12:00] Agreon opened #276 "Add type defintions for string parameters"
### Description of the feature or enhancement:

I noticed that the type definitions for several constants like `deploymentStrategy` are missing. Citing the documentation (```Can be "Recreate" or "RollingUpdate"```) I would suggest adding those definitions directly as types for a improved DX.

### Proposed Solution:

Add type definitions for

- DeploymentStrategy
- Service type
- restartPolicy
- co

[2020-07-28 12:14] Agreon commented on #276
Nevermind, i found out you just import them yourself.

[2020-07-28 12:14] #276 closed

[2020-07-31 03:24] mjwilkerson-strateos opened #277 "Create multi-line data for Secret object"
How can I enter multi-line data in the cdk8 Secret object?

[code]

[2020-07-31 03:55] mjwilkerson-strateos commented on #277
Actually, I think I need stringData, but it' still the same issue

[2020-07-31 04:33] mjwilkerson-strateos commented on #277
I'm aiming for a manifest similar to:

stringData:
  load_definition.json: |-
    {
      "vhosts": [
        {
          "name": "/"
        }
      ],

[2020-08-03 06:07] #273 closed

[2020-08-03 06:54] cassador opened #278 "Import an existing k8s yaml file to generate the code"
Hello, i am aware that you have the Include option for attaching and maintaining existing templates that way, but was hoping for a little more :)

### Description of the feature or enhancement:

The feature would be able to import an already existing kubernetes yaml templates to create a code as would developer normally write. Meaning the cdk8s synth is taking the code and makes kubernetes yaml fi

[2020-08-03 12:10] iliapolo commented on #227
@zzxwill Thanks, i'm looking into it.

[2020-08-03 12:17] iliapolo commented on #277
Should just the standard way you specify multiline strings in typescript.

Have you tried:

[code]

Also, if you just need a serialized json as the value you can do:

[code]

[2020-08-03 13:23] cassador opened #279 "CDK8S Synth to multiple files instead of single one"
### Description of the feature or enhancement:

Have an ability to synthetize not only to single yaml file but to multiple ones based on the different types.
For example if there would be deployment and service then the output would be app-deployment.yaml and app-service.yaml

### Use Case:

With Jenkins CI/CD automatization and usage of multiple configmaps and secrets people might not want to run

[2020-08-03 13:35] campionfellin commented on #278
Hey @cassador would this be the same as the proposed `cdk8s dasm`, from https://github.com/awslabs/cdk8s/issues/141?

[2020-08-03 13:39] cassador commented on #278
Hey @campionfellin  yes it is indeed the same, i might have missed that, when i was checking if someone didn't mention already that feature. Then we might close this as it is duplicate :)

[2020-08-03 13:41] eladb commented on #277
Another common idiom would be:

[code]

[2020-08-03 13:45] campionfellin commented on #278
Awesome, sounds good :)

[2020-08-03 13:45] #278 closed

[2020-08-03 14:40] tabern opened #280 "[cdk8s] CNCF Sandbox Submission"
### Description of the feature or enhancement:
Application to become a CNCF Sandbox project. Joining the Sandbox will help grow the cdk8s community by enabling the neutral collaboration that allows new open source projects to grow rapidly.

This is consistent with our mission and plans for cdk8s.

### Proposed Solution:
Application per https://github.com/cncf/toc/blob/master/process/project_propos

[2020-08-03 16:52] mjwilkerson-strateos commented on #277
Thank you, much appreciated, I'm new to both typescript and cdk8s. I'm going to try this again today and I'll update this issue.

[2020-08-04 00:44] mjwilkerson-strateos commented on #277
Thank you for the solutions, all of them are working.

[2020-08-04 00:44] #277 closed

[2020-08-04 04:46] campionfellin commented on #274
@iliapolo I can take this, as it's so closely related to https://github.com/awslabs/cdk8s/issues/273

[2020-08-04 09:23] eladb commented on #265
Is this still an issue?

[2020-08-04 10:10] eladb commented on #194
@RomainMuller can you follow up here?

[2020-08-04 10:10] eladb commented on #163
Is this still relevant? Closing for now.

[2020-08-04 10:10] #163 closed

[2020-08-04 14:56] iliapolo commented on #279
Hi @cassador

Currently, every `Chart` with produce its own file, using the id you provide it. So if you want to produce multiple manifest, you can place your resources in different charts.

Is that sufficient? Or do you think finer granularity for separate files is needed?

[2020-08-04 17:24] gabe-l-hart commented on #160
In this proposal, would it be possible to add net-new attributes to the object that were not automatically discovered during `import` by the `validation` schema? We're running into issues where we depend on third-party CRDs which we don't directly control which may be fully missing `validation` schemas, or have crucial missing portions (such as `metadata`).

[2020-08-04 18:11] walidshaari commented on #265
Need to try it out again. pushed back due to pending tasks, might have sometime after kubecon. I wanted to present it in AWS MENA days

[2020-08-04 18:29] gabe-l-hart opened #285 "[RFC] Default schema elements for CRDs"
### Instructions:
Feature name| crd-default-schema-elements  |
------------|------------------------------------------------------------|
Issue #     | #285
Start Date  | 2020-08-04 |
RFC PR      | (leave this empty) |

# Summary

This RFC proposes adding more sophisticated default behavior to `import` when determining the `schema` for a CRD ([here](https://github.com/awslabs/cdk8s/blob/master/pac

[2020-08-04 18:44] zbrookle commented on #21
@cweidinger If you’re currently using helm I may have a solution that better suits your needs. I’m currently developing a python package called avionix, which is very similar to this package, but it writes out to helm charts and templates rather than just one kube yaml document. The development is almost finished and it should be released in the coming weeks

[2020-08-04 19:49] cassador commented on #279
Hi @iliapolo .
So if i understood it correctly within the single .ts file i can have multiple charts which will give that result?

I will try that later tomorrow if i will have time for that and i will let you know about an opinion about it.

It will heavily depend on how the code in .ts file will look like, if that would not be too much chaotic.

[2020-08-04 19:53] iliapolo commented on #279
@cassador the .ts files can be structured any way you like. They don't impact the resulting manifest files structure.

You can create multiple charts and just pass them around between multiple ts source files, all resources that belong to a specific chart will be synthesized to the same manifest file.

[2020-08-05 07:40] cassador commented on #279
@iliapolo  thank you, i did try it and it's behaving as expected. It will just require from my end a little more practical experience how to write it more human readable friendly :).

[2020-08-05 08:58] #279 closed

[2020-08-05 09:03] #274 closed

[2020-08-07 14:39] gabe-l-hart opened #287 "Return generated file names from synth()"
### Description of the feature or enhancement:

This is a request to return the generated filenames from the `synth()` function.

### Use Case:

Our usecase involves managing the full lifecycle of the resource *after* `synth` programmatically, and at the moment we're needing to deduce the output filename for a given `App` by looking in the `outdir` directory and asserting that there is only a sing

[2020-08-08 00:58] dodtsair commented on #140
Is it possible to do PersistentVolumeClaims with StatefulSets while this bug is unfixed, in short is there a work around?

[2020-08-09 08:35] iliapolo commented on #287
This seems like a good opportunity to start thinking about the return value of the `synth` operation. 👍

[2020-08-09 10:16] iliapolo commented on #140
@dodtsair Unfortunately there is no workaround at the moment. We hope to address this issue soon, so stay tuned.

[2020-08-11 09:19] J11522 commented on #48
Hey, is there any update on this?
It seems even with the current versions of cdk8s 0.27.0 and CDK 1.57.0 there is an incompatibility.
I've tracked it down to different versions of constructs being required as it seems.

Thanks

[2020-08-12 15:59] RomainMuller commented on #194
Okay so I'm having a look and the state of things is... not great.

We're definitely generating code that `mypy` is unable to check (known limitations, but it'll emit an "unsupported" error unless you specifically annotate the unsupported declarations), as well as code that... well... just breaches our own validations.

I'm preparing an update to `jsii-pacmak` that will emit code that actually val

[2020-08-12 23:35] mjwilkerson-strateos commented on #140
I'm having the same issue, is there a workaround?

[2020-08-15 01:24] dodtsair opened #288 "Enable cdk8s to programmatically generate kubernetes yaml"
### Description of the feature or enhancement:
Cdk8s should have APIs enabling the generation of kubernetes yaml.  Calling this API on the current chart would produce the yaml for that chart, much like calling synth from the command line.  Where the command line synth's the chart into a file, the API call would synth the chart into memory for use with other tools.

### Use Case:

CDK EKS has the a

[2020-08-16 12:25] eladb commented on #194
Great news!

[2020-08-17 12:11] iliapolo commented on #48
To anyone interested in this, please follow and upvote this issue: https://github.com/aws/aws-cdk/issues/9670.

We will be updating the progress over there.

[2020-08-17 22:02] shivaramani opened #289 "cdk8s synth - "ModuleNotFoundError: No module named 'constructs'"
### Description of the bug:

When we create a new folder, "cdk8s init python-app" (and if we add our code to create chart/webservice)  “cdk8s synth” works.. it creates dist/output.yaml

Whereas if we try to “cdk8s synth” on an existing folder (where we have main.py/webservice.py and cdk8s.yaml) we get imports error (ex: this example https://github.com/awslabs/cdk8s/tree/master/examples/python/web-

[2020-08-17 22:44] igorborgest commented on #289
The regular flow should be something like:

[code]

But seems that these examples are missing some required dependencies (fixed in the PR above.)

[2020-08-17 23:58] shivaramani commented on #289
Thank you so much.
Tried another example with the fix.

Added the below packages (similar to your fix - [commit](https://github.com/awslabs/cdk8s/pull/290/files))

[packages]
constructs = "==2.0.2"
cdk8s = "~=0.26.0"

Ran these:
$ pip install pipenv
$ pipenv install
$ cdk8s synth
dist/cdk8s.k8s.yaml

[2020-08-18 12:32] J11522 commented on #288
Have a look at the following issues:
https://github.com/awslabs/cdk8s/issues/48
https://github.com/aws/aws-cdk/issues/9670

Is that what you are trying to achieve?

Depending on your setup, the solution proposed in https://github.com/awslabs/cdk8s/issues/48#issuecomment-597086934 works like a charm. Mind the different versions of the constructs library being used.
This can be solved by creating a

[2020-08-18 17:37] #289 closed

[2020-08-18 20:17] dodtsair commented on #288
@J11522  yeah, 9670 is basically the same thing.  I would close this in favor of 9670

I have had other conversations that 9670 also covers to some degree.  For example if I want to use efs filesystem in my cluster I would need the efs filesystem id that was created by the CDK which I could then use in cdk8s as volumeHandle to generate the necessary manifest as documented here: https://docs.aws.am

[2020-08-19 00:56] tabern opened #291 "Integrated CRDs in CLI tool"
### Description of the feature or enhancement:
Today, you need to provide all CRDs to the CLI in order to add them to your cdk8s project. There are some common CRDs that we may want to make super easy for customers to load - for example CRDs that would configure things like secrets, or [AWS Controllers for Kubernetes](https://github.com/aws/aws-controllers-k8s).

With integrated CRDs, we would add

[2020-08-20 10:30] iliapolo commented on #288
@dodtsair I'm closing this because the behavior requested here is available through `chart.toJson`.

As far as integrating with EKS, please follow aws/aws-cdk#9670 for more details and progress.

Thanks

[2020-08-20 10:30] #288 closed

[2020-08-20 18:12] enkoder commented on #140
Any update on timing of this bug? It's blocking me from adopting cdk8s.

[2020-08-20 18:17] tabern commented on #280
draft https://github.com/awslabs/cdk8s/blob/taber/docs/rfc/sandbox-submission.md

[2020-08-23 01:02] y-taka-23 opened #296 "[cdk8s-plus] Service in cdk8s-plus cannot extract the nodePort property to a YAML"
### Description of the bug:

You can pass the `nodePort` property to `ServicePortOptions` in cdk8s-plus, but it looks to be discarded during extraction by `_toKube()`.

### Reproduction Steps:

1. `mkdir repro && cd repro`
1. `cdk8s init typescript-app`
1. `npm install cdk8s-plus`
1. Edit `main.ts` as follows
1. `npm run compile && cdk8s synth`

[code]

### Environment:

  - **Framework Version**:

[2020-08-24 18:13] iliapolo commented on #296
@y-taka-23

Yes - that would be awesome!

I'm here to help :)

[2020-08-24 19:51] iliapolo commented on #110
Looks like this was resolved by https://github.com/awslabs/cdk8s/pull/39

[2020-08-24 19:51] #110 closed

[2020-08-24 20:45] iliapolo opened #298 "[cdk8s-plus] Simplify cdk8s-plus API by removing the `spec` nesting level"
### Description of the feature or enhancement:

Instead of:

[code]

Lets have this:

[code]

### Use Case:

Better API ergonomics

### Proposed Solution:

### Other:

- What about possibly collisions with the `metadata` property?

* [ ] :wave: I may be able to implement this feature request
* [ ] :warning: This feature might incur a breaking change

---

This is a :rocket: Feature Request

[2020-08-24 21:15] iliapolo opened #299 "[cdk8s-plus] Strategy for cdk8s-plus to use different k8s api versions"
### Description of the feature or enhancement:

Currently cdk8-plus is vended with a specific version of the underlying k8s objects.

What can we do to make this more flexible?

### Use Case:

Enable users to use cdk8s-plus on clusters with different api versions.

Example: Support two different version of ingress (spec 17.0 and 18.0 which have different API's) in cdk8s-plus.

### Proposed Solutio

[2020-08-24 21:17] iliapolo opened #300 "[cdk8s-plus] Deployment L2"
### Description of the feature or enhancement:

### Use Case:

### Proposed Solution:

### Other:

* [ ] :wave: I may be able to implement this feature request
* [ ] :warning: This feature might incur a breaking change

---

This is a :rocket: Feature Request

[2020-08-24 21:17] iliapolo opened #301 "[cdk8s-plus] Service L2"
### Description of the feature or enhancement:

Enhance the `Service` construct with additional properties from `k8s.ServiceSpec` to provider more flexibility.

### Use Case:

### Proposed Solution:

### Other:

* [ ] :wave: I may be able to implement this feature request
* [ ] :warning: This feature might incur a breaking change

---

This is a :rocket: Feature Request

[2020-08-24 21:17] iliapolo opened #302 "[cdk8s-plus] Pod L2"
### Description of the feature or enhancement:

### Use Case:

### Proposed Solution:

### Other:

* [ ] :wave: I may be able to implement this feature request
* [ ] :warning: This feature might incur a breaking change

---

This is a :rocket: Feature Request

[2020-08-24 21:18] iliapolo opened #303 "[cdk8s-plus] ServiceAccount L2"
### Description of the feature or enhancement:

### Use Case:

### Proposed Solution:

### Other:

* [ ] :wave: I may be able to implement this feature request
* [ ] :warning: This feature might incur a breaking change

---

This is a :rocket: Feature Request

[2020-08-24 21:18] iliapolo opened #304 "Job L2"
### Description of the feature or enhancement:

### Use Case:

### Proposed Solution:

### Other:

* [ ] :wave: I may be able to implement this feature request
* [ ] :warning: This feature might incur a breaking change

---

This is a :rocket: Feature Request

[2020-08-24 21:19] iliapolo opened #305 "[cdk8s-plus] Secret L2"
### Description of the feature or enhancement:

### Use Case:

### Proposed Solution:

### Other:

* [ ] :wave: I may be able to implement this feature request
* [ ] :warning: This feature might incur a breaking change

---

This is a :rocket: Feature Request

[2020-08-25 15:34] MitchellJeppson opened #307 "Doc links are broken due to wrong version number"
### Description of the bug:
Both links under Doc navigation menu are dead pages. The links have an outdated version (0.0.0) in the URL.

### Reproduction Steps:
Navigate to https://cdk8s.io/ and click either Doc link.

### Error Log:
404 page

### Other:
I'll submit a pull request to fix this soon.

---

This is :bug: Bug Report

[2020-08-26 01:20] campionfellin opened #311 "[cdk8s-plus] Container should have a default imagePullPolicy or allow to set it easily"
### Description of the feature or enhancement:

I'd like to specify my `imagePullPolicy` on containers with cdk8s-plus!

### Use Case:

It's a pretty common setting that I think many people would use with the `Container` construct.

### Proposed Solution:

This would be on `ContainerProps` .

### Other:

* [x] :wave: I may be able to implement this feature request
* [ ] :warning: This feature migh

[2020-08-26 09:37] iliapolo commented on #299
At the very minimum, we should document exactly which API versions are supported by a specific vended version of cddk8s-plus

[2020-08-26 18:36] #307 closed

[2020-08-27 20:43] jwnx opened #314 "[cdk8s] ts: Enforce ServiceSpec types"
### Description of the feature or enhancement:
As of now, most of `ServiceSpec` types (and others, actually) are string typed. Some props, though, could be easily type enforced in order to avoid errors. `externalTrafficPolicy`, for example.

### Use Case:
We don't want failed deploys due to mistyping. Plus, being aware of the actual configuration options saves us a lot of time when coding (:

###

[2020-08-29 19:56] iliapolo commented on #127
Closing. This has served its purpose.

[2020-08-29 19:56] #127 closed

[2020-08-30 12:14] iliapolo commented on #285
Hi @gabe-l-hart - Thanks for kicking off this discussion!

Just to make sure I understand correctly, i'll try and recap what you've presented here.

As things stand now, when a CRD does not have the `validations` property, i.e it doesn't have a well defined schema, the result of importing such a CRD with `cdk8s import` would be this:

[code]

Using this `Widget` resource would basically allow pass

[2020-08-31 14:36] gabe-l-hart commented on #285
Hi @iliapolo, thanks for digging in on this! I think your understanding of my initial proposal is accurate, but I definitely see the holes that you're pointing out, so I'm not sure my proposed solution is the right one anymore.

I think the one thing that is missing is how the `options` argument to the constructor of the current generated class interacts with the `python` wrapper. Currently (`0.27

[2020-09-01 14:56] iliapolo commented on #285
@gabe-l-hart I see what you mean about the python output.

So actually this just sounds like a bug.

I'm going to use your example here and file a bug in favor of this RFC. Sound good?

[2020-09-02 02:40] gabe-l-hart commented on #285
@iliapolo Yes, that sounds good. Thanks for the discussion!

[2020-09-02 09:11] iliapolo opened #316 "[cli] Import of resources without a `validation` creates an unusable python output"
### Description of the bug:

When a CRD has no `validation`, the generated python class does not allow passing in any options, meaning you can't configure it.

### Reproduction Steps:

Save the following CRD in a file:

[code]

and run `cdk8s import --language python <file>`

The generated python class will look like so:

[code]

Notice that the `__init__` method does not accept any options.

Alte

[2020-09-02 09:12] iliapolo commented on #285
Closing in favor of https://github.com/awslabs/cdk8s/issues/316

[2020-09-02 09:12] #285 closed

[2020-09-02 10:03] iliapolo commented on #314
@jwnx The types of the generated properties are derived from the json schema.

The `externalTrafficPolicy` property is unfortunately types as a string, not an enum:

https://github.com/instrumenta/kubernetes-json-schema/blob/master/v1.15.0/_definitions.json#L11058-L11060

[code]

I'm not sure scanning the documentation itself is a sustainable method of enforcing types.

This is exactly the type of

[2020-09-02 10:03] #314 closed

[2020-09-02 10:35] #296 closed

[2020-09-07 19:53] #311 closed

[2020-09-16 16:18] iliapolo opened #321 "Adobe Analytics for the cdk8s website"
Once we've sorted out all the cookie consent issues we need to bring back the analytics scripts.

[2020-09-17 14:47] manast commented on #65
no helm charts support is kind of no-go in current kubernetes deployment operations, it would be great if you could prioritize it up :).

[2020-09-17 14:57] mbonig commented on #65
Can you describe the use-case and how you imagine the solution might work?

[2020-09-17 20:10] manast commented on #65
well most services that we would like to install are most conveniently installed using helm charts, cert-manager, redis, contour, etc.

[2020-09-17 23:24] mbonig commented on #65
Importing helm charts, with all their templating, could be very difficult. Generally you'd likely have to rewrite any existing helm charts into constructs. I wrote up a guide when I did this for a MySQL helm chart to constructs, maybe it'll help:

https://www.openconstructfoundation.org/helm-to-cdk8s/

[2020-09-21 05:46] eladb commented on #65
I was thinking to simply execute `helm template` during synth.

[2020-09-21 08:03] manast commented on #65
@mbonig thats gonna be a no-go, maintaining constructs for every third-party helm chart we depend on is impracticable.
Perhaps it is more difficult to implement helm charts supports in the CDK, but Pulumi seems to get this right: https://www.pulumi.com/docs/guides/adopting/from_kubernetes/

[2020-09-22 09:00] foriequal0 opened #323 "`Node.of(construct).uniqueId` is not strictly compatible with the K8s labels"
### Description of the feature or enhancement:

I can find some usages of `Node.of(construct).uniqueId` across the codebase and examples. However, it is bound to CloudFormation's resource name rules and it isn't strictly compatable with Kubernetes' name/labels rules.
It might be compatible if the resource name is short enough to be within k8s' length limitations, but you still bear the fact that `

[2020-09-22 15:40] gabe-l-hart opened #325 "Yaml files generated with synth do not quote strings which can be interpreted as native non-string types"
### Description of the bug:

When `app.synth()` generates `yaml` files, values which are strings in memory are rendered without quotes in the `yaml` files. This can cause problems for string values such as `"true"`, `"yes"`, and `"2020-01-01"`. These strings, when rendered without quotes, will be read as native data types by `yaml` parsers such as `PyYaml` (`true` and `yes` become python `bool`, w

[2020-09-23 14:34] mbonig commented on #65
I'd love to dig into their code and see how they manage importing a helm chart.  It would be a powerful feature to have in the cdk8s.

[2020-09-23 15:15] eladb commented on #65
I expect this to be something like `helm template` under the hood

[2020-09-23 18:41] gabe-l-hart commented on #325
I suspect the issue may be in the `yaml` renderer [here](https://github.com/awslabs/cdk8s/blob/master/packages/cdk8s/src/app.ts#L59)

[2020-09-23 18:50] gabe-l-hart commented on #325
It's possible that bumping the [version of `yaml`](https://github.com/awslabs/cdk8s/blob/master/packages/cdk8s/package.json#L64) to the latest may help here. There seem to be a lot of differences in versions in that library relative to `1.7.2`: https://github.com/eemeli/yaml

[2020-09-23 18:59] gabe-l-hart commented on #325
I was able to reproduce this with just `1.7.2` of the `yaml` package:

**test.yaml**
[code]

[code]

[2020-09-23 19:02] gabe-l-hart commented on #325
This issue looks relevant: https://github.com/eemeli/yaml/issues/198

[2020-09-23 19:06] gabe-l-hart commented on #325
Based on that issue, it looks like this can be solved on the version `2.0.0-0` version of the library by adding lines like the following:

[code]

[2020-09-23 20:42] CAR6807 commented on #325
TypeScript - `cdk8s: 0.27.0 (also seen in 0.28.0)`

Also running into this as well when rendering YAML
This becomes an issue in pre-1.17 Kubernetes as annotations silently fail if it is a num or bool value
https://github.com/kubernetes/kubernetes/issues/88564

TypeScript snippet
[code]
Rendered YAML

[code]

[2020-09-24 07:27] eladb commented on #325
@gabe-l-hart would you like to submit a PR to upgrade `yaml`?

[2020-09-24 15:50] gabe-l-hart commented on #325
@eladb Yes, will do!

[2020-09-24 19:37] gabe-l-hart commented on #325
@eladb I've set up a PR which fixes this issue, but unfortunately it introduces a new one. The latest version of `yaml` changes the semantics for `undefined` to drop keys with undefined values rather than convert them to `null`. If this is an important feature to maintain, we'll likely need to hold off on this upgrade until the next version of `yaml` is released. They have already implemented opti

[2020-09-24 19:43] barlock opened #328 "Custom `synth` - Access to underlying Dependency Graph"
### Description of the feature or enhancement:

cdk8s should expose programatic access to the underlying dependency graph so that it can be walked with code without having to read and write yaml from disk.

### Use Case:

I'm implementing a python-based operator framework based on CDK8s. As such I would like to, given an App, walk the dependency graph applying api objects in the correct order base

[2020-09-26 19:16] mbonig commented on #65
I took a quick stab at this:

https://github.com/mbonig/helm-chart

Let me know what you think, @manast?

I purposely didn't look too much at what pulumi was doing, just tried to build something simple and easy to work with.

[2020-09-26 20:27] manast commented on #65
Looks great. Will test it next week :).

[2020-09-30 15:44] #328 closed

[2020-10-02 22:12] wuqunfei commented on #169
Is anyone can share detail implementation direction we can go? this feature and CDK pipeline feature can make difference between the helm and programming language. I am join to contriube on it.

[2020-10-06 17:17] #325 closed

[2020-10-06 20:13] RichiCoder1 commented on #65
Grafana's `tanka` just added an analogous feature: https://github.com/grafana/tanka/blob/master/CHANGELOG.md#wheel_of_dharma-helm-support

Also uses helm template, but has the addition of requiring you vendor the charts.

[2020-10-07 00:10] gabe-l-hart opened #334 "Synth fails in FIPS-enabled linux"
### Description of the bug:

Our team is building an operator based on cdk8s and one of our deployment targets is a FIPS-enabled kubernetes cluster. When running cdk8s (and by proxy the constructs library), we encounter the following error when attempting to to run a synth:

[code]

This has been files as a bug against `constructs` (https://github.com/aws/constructs/issues/272), but we will need a

[2020-10-07 01:31] mbonig commented on #65
I'm not familiar with tanka... could you offer a comparison between their method and the one I created (https://github.com/mbonig/helm-chart)?

[2020-10-07 01:37] RichiCoder1 commented on #65
Looking at it, two big differences:
1. Tanka requires the helm tool be installed, while yours appears to call into a docker image to template out the chart.
2. Tanka has a feature that will download and manage local chart version for you, so you don't have to untar it yourself: https://tanka.dev/helm#vendoring-helm-charts

A minor difference is that the produced objects are named `${kind}_${metada

[2020-10-07 04:25] #280 closed

[2020-10-07 16:08] mbonig commented on #65
I'm going to change this so it works similar to the NodejsFunction in the CDK, where it'll use docker if 'helm' isn't in the PATH or just execute helm directly if it is.

I'll look into building similar functionality into it.

[2020-10-10 11:46] abierbaum opened #335 "Allow overriding output directory for imports in cdk8s.yaml config file"
### Description of the feature or enhancement:

I think it would be useful to surface more of the configuration for the import command into the cdk8s.yaml file.  This would allow users to declaratively set this in the configuration without having to put it into the command line options in a script or each time they run it.

It appears that code is already in place to do this for 'language'.

https

[2020-10-10 11:46] abierbaum opened #2159 "Allow overriding output directory for imports in cdk8s.yaml config file"
### Description of the feature or enhancement:

I think it would be useful to surface more of the configuration for the import command into the cdk8s.yaml file.  This would allow users to declaratively set this in the configuration without having to put it into the command line options in a script or each time they run it.

It appears that code is already in place to do this for 'language'.

https

[2020-10-11 17:42] eladb commented on #335
Sounds good. Happy to take a contribution

[2020-10-13 11:34] eladb opened #337 "Add to CNCF landscape"
Submit a PR for adding cdk8s to the CNCF landscape project:

https://github.com/cncf/landscape

[2020-10-13 14:58] abierbaum commented on #335
@eladb I looked into this more and there is a complication.

Config.output is already defined here: https://github.com/awslabs/cdk8s/blob/master/packages/cdk8s-cli/src/config.ts#L15 and has a default of `dist`'

[code]

The `synth` command rlies upon this default and allows it to change in the config file to override it.

See: https://github.com/awslabs/cdk8s/blob/master/packages/cdk8s-cli/src/cli

[2020-10-13 22:37] abhinavmpandey08 opened #339 "Getting a "PodSpec must have at least 1 container" error even when a container is specified"
I have [this deployment ](https://github.com/kubernetes/test-infra/blob/master/config/prow/cluster/starter-s3.yaml#L216-L291) that I'm trying to write in CDK8s.

This is what I came up with:
[code]

When I compile it, I get this error `PodSpec must have at least 1 container` but I have a container named 'hook' specified here.

[2020-10-14 10:51] #323 closed

[2020-10-14 14:05] #125 closed

[2020-10-14 16:16] abhinavmpandey08 commented on #339
That worked thanks!

[2020-10-15 12:35] guan840912 opened #343 "[cdk8s-plus] ClutserRole L2"
### Description of the feature or enhancement:

### Use Case:

### Proposed Solution:

### Other:

* [ ] :wave: I may be able to implement this feature request
* [ ] :warning: This feature might incur a breaking change

---

This is a :rocket: Feature Request

[2020-10-15 12:36] guan840912 opened #344 "[cdk8s-plus] ClusterRoleBinding L2"
### Description of the feature or enhancement:

### Use Case:

### Proposed Solution:

### Other:

* [ ] :wave: I may be able to implement this feature request
* [ ] :warning: This feature might incur a breaking change

---

This is a :rocket: Feature Request

[2020-10-16 02:24] mbonig commented on #65
Submitted a PR: https://github.com/awslabs/cdk8s/pull/346

[2020-10-19 05:42] #65 closed

[2020-10-19 13:12] eladb opened #348 "Octal numbers are not parsed correctly when including manifests (or helm charts)"
### Description of the bug:

See https://github.com/eemeli/yaml/issues/205

### Reproduction Steps:

Try to `Include` a manifest that includes an octal number:

[code]

The expectation is that this will be represented as:

[code]

But instead, it is represented as `666`, which is not correct.

Root cause is an issue in the YAML library we use: https://github.com/eemeli/yaml/issues/205

### Error L

[2020-10-19 15:07] mcouthon opened #352 "Add ability to create objects by loading synthesized YAMLs"
### Description of the feature or enhancement:

After having created k8s YAMLs by synthesizing Python Charts, I'd like to be able to do the reverse — create Python objects by loading those same YAMLs.

### Use Case:

This would be useful for tests/validation that will go over the YAMLs, and would avoid code like this:

[code]

### Proposed Solution:

I envision the code looking like:

[code]

###

[2020-10-19 18:09] eladb commented on #352
Are you familiar with the [`Include`](https://github.com/awslabs/cdk8s/tree/master/packages/cdk8s#include) construct?

[2020-10-20 06:45] mcouthon commented on #352
Thanks, @eladb, I wasn't familiar with it. But it's either not what I'm looking for, or else I'm not sure how to use it.

I created this minimal example:

[code]

Now I can indeed call `b.to_json()` and get a dict representing the contents of my YAML, or I can `synth` the chart, but I don't have a meaningful Python object in either `b` or `dep`, that I can do something like `dep.metadata.name` wit

[2020-10-20 08:15] eladb commented on #352
@mcouthon wrote:

`dep.api_objects` should return a list of `ApiObjects` which you can then interact with. For example, they all have a `name` field that includes the object's name.

[2020-10-20 08:49] #348 closed

[2020-10-20 09:00] mcouthon commented on #352
Unfortunately, it doesn't seem to work.
I've added to the above example:

[code]

And got this:
[code]

[2020-10-20 09:05] eladb commented on #352
Sorry, this was recently added in 0.31.0

[2020-10-20 09:06] mcouthon commented on #352
Oh, sweet! I'm checking it now.

[2020-10-20 09:41] mcouthon commented on #352
Alright, so now `api_objects` is indeed working. It's not exactly what I envisioned (a full fledged object, with all of the nested options, etc), but it's good enough for getting some basic information. Is there any option to expand the `ApiObject` that's returned here? For example, I see that `ApiObjectMetadata` can have additional info like labels and annotations, but when I look at the metadata

[2020-10-20 09:44] eladb commented on #352
Metadata mutation will be supported soon and we have a roadmap item to cover inspection and mutation of api objects as well.

[2020-10-20 09:46] mcouthon commented on #352
Ok, that's great. Thanks for the super quick help, @eladb 🙏
I'll close this for now, and follow the roadmap.

[2020-10-20 09:46] #352 closed

[2020-10-20 09:56] eladb commented on #305
Supported

[2020-10-20 09:56] #302 closed

[2020-10-20 09:56] #300 closed

[2020-10-20 09:56] #301 closed

[2020-10-22 09:08] van-vothanh opened #356 "[cdk8s-plus] Add an IAM PolicyStatement to ServiceAccount"
With the `@aws-cdk/aws-eks` package, it is possible to add an IAM policy statement to a `ServiceAccount` through the this method https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-eks.ServiceAccount.html#add-wbr-to-wbr-principal-wbr-policystatement-span-class-api-icon-api-icon-experimental-title-this-api-element-is-experimental-it-may-change-without-notice-span

How do we achieve the sam

[2020-10-23 15:41] iliapolo commented on #298
Resolved by https://github.com/awslabs/cdk8s/pull/347

[2020-10-23 15:41] #298 closed

[2020-10-26 21:32] iliapolo commented on #356
Hi @van-vothanh the `ServiceAccount` in `cdk8s-plus` is not natively integrated with AWS IAM roles.
You can create an `iam.Role` using the `@aws-cdk/aws-iam` package, add the desired policies and then annotate the service account with the role arn.

Essentially it would mean re-implementing the logic in the [`@aws-cdk/aws-eks.ServiceAccount`](https://github.com/aws/aws-cdk/blob/master/packages/@aw

[2020-10-28 04:27] van-vothanh commented on #356
hi @iliapolo thanks for the clarification.

Do you have a code sample showing how we can annotate a service account with the role arn?

Cheers

[2020-10-28 13:18] van-vothanh commented on #356
hi @iliapolo

I managed to get everything working as expected, however the experience wasn't as smooth as it was with `cdk-eks` previously. In addition to the `iam.Role`, I also had to create a new `iam.OpenIdConnectProvider` in my `cdk` app, this is where things get interesting. The `iam.OpenIdConnectProviderProps` doesn't expose the ability to set the `audience` nor the `CA thumbprint`, in the e

[2020-11-01 17:24] campionfellin commented on #92
@eladb I can do this. Do we expect this to be mutually exclusive with `--outdir`? Or would adding the flag `--print-to-stdout` be in addition to synthing to `dist`?

[2020-11-01 18:17] eladb commented on #92
Mmmm. I am thinking probably mutually exclusive and perhaps we can change the name from `--outdir` to `--output` and then use the same switch for both.

[2020-11-01 18:42] campionfellin commented on #92
Yeah I'm hesitant to changing the name so we don't introduce breaking changes. Will make it `--stdout`

[2020-11-05 10:30] van-vothanh opened #363 "[cdk8s] Getting ENOBUFS when including a larger than normal manifest file"
Hello,

I'm running into an issue with my `cdk` and `cdk8s` (including `cdk8s+`) app when including a larger than normal manifest file.

Basically, what I'm trying to do is install the new `aws-load-balancer-controller` on my `EKS` cluster using `cdk8s`. As per this step (https://kubernetes-sigs.github.io/aws-load-balancer-controller/guide/controller/installation/#install-cert-manager) of the inst

[2020-11-05 21:44] usmanwvu commented on #242
I am facing the same issue when running the import behind a proxy.

cdk8s import k8s@1.16.0
k8s
Error: connect ETIMEDOUT

[2020-11-06 14:46] trippl commented on #242
@usmanwvu as a workaround we just added the k8s.ts that is downloaded by `cdk8s import k8s` to our repository, so that we can skip this step when building via CI-CD. As we will rarely update k8s this is only a very minor inconvenience.

[2020-11-06 16:39] usmanwvu commented on #242
@trippl we use hvds, which are behind a corporate proxy.  The work around options for us are:

- Run the import on a laptop outside the proxy and email back the k8s.ts and then check into our repo.
- Modify the cdk8s-cli package and add corporate proxy configuration.

[2020-11-07 11:58] danikenan opened #364 "[RFC] improve dev experience 10X by adding `ts-node-dev`"
Using ts-node for compilation and running synth will reduce clutter by removing the need for all those '*.d.ts' and '*.js'  and let user stay focus on his code. This can easily be done by change the generate `cdk8s.yml` to:
[code]
There is no more need for compilations, nor a need for watching the files for the purpose of compilation.

On the other hand, you an add a `start`/`dev` script that will

[2020-11-07 17:47] danikenan commented on #363
here is a solution. If allowed, will improve and make a pull request:

[code]

[2020-11-09 09:09] iliapolo opened #365 "[cdk8s-plus] Remove kplus.Container from obj instantiation"
Initialize a pod with structs only (i.e no need to instantiate a container class)

### Description of the feature or enhancement:

### Use Case:

### Proposed Solution:

### Other:

* [ ] :wave: I may be able to implement this feature request
* [ ] :warning: This feature might incur a breaking change

---

This is a :rocket: Feature Request

[2020-11-09 09:22] iliapolo opened #366 "[cdk8s] Add documentation to cdk8s website"
### Description of the feature or enhancement:

We need an official documentation story on the cdk8s website with proper navigation and path.

### Use Case:

### Proposed Solution:

### Other:

* [ ] :wave: I may be able to implement this feature request
* [ ] :warning: This feature might incur a breaking change

---

This is a :rocket: Feature Request

[2020-11-09 09:25] #126 closed

[2020-11-09 09:26] #303 closed

[2020-11-09 09:26] #305 closed

[2020-11-09 09:51] iliapolo commented on #144
Once this is implemented, we should offer a solution to [this bug](https://github.com/awslabs/cdk8s/issues/140) based on it.

[2020-11-09 21:45] benagricola opened #368 "Duplicated synthed resources when nesting Charts"
### Description of the bug:
When nesting charts within a parent chart, applying the parent chart to an app and then synthesizing the app, I'm seeing duplicated synthed resources - one file for each separate chart nested in the parent chart, and then one file for the parent chart which _also_ includes the resources from the nested charts.

This is problematic when applying to Kubernetes using `kube

[2020-11-09 22:04] fimbulvetr commented on #173
Also would like to configure the `YAML.scalarOptions.str.fold.lineWidth` property.

[2020-11-10 08:28] #356 closed

[2020-11-10 17:23] fimbulvetr commented on #173
On this note, and perhaps this should be a separate bug, but I am currently porting a raw yaml project to cdk8s. When reconciling the diffs between the raw and what cdk8s output was, I noticed that there were a few places where YAML was not honoring the "BLOCK_LITERAL" default when doing a configmap. I would see stuff like this:

    a.txt: |
    1
    2
    3
    ...

    b.txt: >-
    1
    2

[2020-11-10 22:47] #366 closed

[2020-11-11 00:37] eladb opened #371 "Rename all `Options` to `Props`"
### Description of the feature or enhancement:

To align with AWS CDK.

### Use Case:

### Proposed Solution:

### Other:

* [ ] :wave: I may be able to implement this feature request
* [ ] :warning: This feature might incur a breaking change

---

This is a :rocket: Feature Request

[2020-11-12 12:43] eladb opened #373 "plus: ensure all L2s have a `defaultChild` set up for them, ideally named "Resource""
To support escape hatching using `ApiObject.of()` (see #372).

[2020-11-13 15:16] fimbulvetr opened #375 "Problems with the generated K8S CustomResourceDefinition"
The k8s definitions that are built by cdk8s, botht he default and custom (e.g. `cdk8s import k8s@1.18.0 -l typescript`)

Do not seem to generate the full, or even correct, definitions of CustomResourceDefinition

The docs specify that [CustomResourceDefinition](https://v1-15.docs.kubernetes.io/docs/reference/generated/kubernetes-api/v1.15/#customresourcedefinition-v1beta1-apiextensions-k8s-io).spe

[2020-11-13 15:52] fimbulvetr commented on #375
One more:

The [JSONSchemaProps](https://v1-15.docs.kubernetes.io/docs/reference/generated/kubernetes-api/v1.15/#jsonschemaprops-v1beta1-apiextensions-k8s-io) allows for [x-kubernetes-int-or-string](https://github.com/instrumenta/kubernetes-json-schema/blob/master/v1.15.0/_definitions.json#L17454) - however, the cdk8s generated `JsonSchemaProps` does not allow it. See usage [here](https://github.c

[2020-11-15 06:54] #365 closed

[2020-11-15 09:18] eladb commented on #373
@iliapolo just realized that using `Default` can cause issues because "Default" is ignored by the construct path address calculations.

[2020-11-15 11:27] #144 closed

[2020-11-16 02:15] prasek opened #377 "add crds.dev import shortcut like `cdk8s import crossplane/crossplane@0.14.0`"
https://doc.crds.dev scans any repo for CRDs and can output a single manifest file [with a new `raw/` prefix](https://twitter.com/prasek/status/1328124155678527488) that @hasheddan added, so you can use:
`cdk8s import -l typescript https://doc.crds.dev/raw/github.com/crossplane/crossplane@v0.14.0`.

@eladb suggested on [twitter](https://twitter.com/emeshbi/status/1328130666706460673):

Also, based

[2020-11-16 20:49] eladb opened #380 "Annotate non-stable API levels in imported k8s resources"
Instead of filtering out non-stable API resources in `cdk8s import k8s`, we should simply append an API level annotation to those classes. For example, in 1.18, it should be `IngressV1Beta1` instead of just `Ingress`. This is more in-line with how k8s API levels work. Before a resource is stable, breaking changes can be introduced. So we want to make sure users (and cdk8s-plus) are more explicit a

[2020-11-17 05:20] campionfellin commented on #117
Java support is now implemented.

Blog post announcing it: https://aws.amazon.com/blogs/containers/announcing-java-support-for-cdk8s/

---

Kotlin support can be tracked here: https://github.com/aws/jsii/issues/1541

Closing this one.

[2020-11-17 05:20] #117 closed

[2020-11-17 10:24] #140 closed

[2020-11-17 12:06] #380 closed

[2020-11-17 14:29] #371 closed

[2020-11-18 06:15] chainhead opened #386 "TS Getting Started example does not work."
### Description of the bug:
`cdk8s synth` in the project folder generates empty `hello.k8s.yaml` where the project is same as the instructions mentioned in the [Getting Started page](https://cdk8s.io/docs/v0.33.0/getting-started/).

### Reproduction Steps:
The final `main.ts` shown in  [Getting Started page](https://cdk8s.io/docs/v0.33.0/getting-started/) neither compiles nor generates valid YAML.

[2020-11-18 15:49] #373 closed

[2020-11-19 11:30] iliapolo opened #394 "Remove --pre from python installation"
We [added](https://github.com/awslabs/cdk8s/pull/393) the `--pre` to our python installation commands when we launched the beta pre-release since PyPI doesn't offer pre-releases by default.

This has to be removed when we launch `1.0` otherwise users will inadvertently receive pre-releases instead of stable versions.

[2020-11-19 11:41] #377 closed

[2020-11-19 12:45] #334 closed

[2020-11-19 13:39] #92 closed

[2020-11-19 19:02] prasek opened #401 "[cdk8s-cli] emit a single module per k8s API group as default for import from crds.dev"
Follow on to #377

Would like to generate a single module per k8s API group with all CRDs for that API group, so you could:
[code]

and have this be the default for importing from https://doc.crds.dev using:
[code]

[2020-11-19 19:34] #394 closed

[2020-11-20 12:48] iliapolo commented on #299
Resolved by https://github.com/awslabs/cdk8s/pull/385

[2020-11-20 12:48] #299 closed

[2020-11-21 01:23] pgollucci commented on #335
I agree.

[2020-11-22 04:40] anthonydahanne opened #406 "Java Getting Started uses wrong imports"
### Description of the bug:
The java getting started doc. references some non existent Kube* API.

### Reproduction Steps:

For example those [documented](https://github.com/awslabs/cdk8s/blob/master/docs/getting-started.md) imports:

[code]

don't resolve after doing a:
* `cdk8s init java-app`
* followed by a `cdk8s import `

### Other:

Also, there are some unused imports in the WebService examp

[2020-11-22 20:14] iliapolo commented on #375
Hi @fimbulvetr - thanks for reporting this.

Just wanted to make sure you are aware we recently released support for [escape hatches](https://cdk8s.io/docs/v1.0.0-beta.3/concepts/escape-hatches/), which you should be able to use to unblock yourself by patching any part of the spec that is either missing or misconfigured.

This is just a stop gap until we release a fix.

[2020-11-22 21:47] campionfellin opened #409 "cdk8s not getting updated with Homebrew"
### Description of the bug:

You can see the formulae version here:

https://github.com/Homebrew/homebrew-core/blob/da6d488a6c1cb1c35ac14c3f82e80d09228f62b6/Formula/cdk8s.rb

### Reproduction Steps:

[code]

### Error Log:

In our release step:

[code]

(from: https://github.com/awslabs/cdk8s/runs/1427043718?check_suite_focus=true)

### Environment:

  - **Framework Version**:
  - **OS**:

### Oth

[2020-11-22 22:14] iliapolo commented on #406
@anthonydahanne thanks for reporting this. Actually the latest version of the import does in fact have the `Kube` prefix. There are however other wrong and unused import which i've addressed [here](https://github.com/awslabs/cdk8s/pull/410/files).

Thanks.

[2020-11-22 22:16] #386 closed

[2020-11-23 10:33] #406 closed

[2020-11-23 14:39] iliapolo commented on #364
@danikenan

Thats a valid point. We've had some concerns about performance of using `ts-node` vs running a watch process with `tsc- w` and directly calling `node` of the JavaScript files.

`ts-node-env` might be a good solution though, we'll need to run some benchmarks. Do you have some concrete data you can share with us regarding performance?

[2020-11-23 15:15] campionfellin commented on #409
Reopening for discussion - @iliapolo the PR there should fix our bot so it opens up the PRs with Homebrew to update our Formula.

I was attempting to do it manually for the latest version [1.0.0-beta.3](https://www.npmjs.com/package/cdk8s-cli/v/1.0.0-beta.3) but that does not pass `brew audit --strict cdk8s` which fails with the error:

[code]

Their docs [here](https://docs.brew.sh/Versions) say:

[2020-11-23 18:38] iliapolo commented on #409
@campionfellin we are still not ready for a 1.0, and its going to probably be a little while.

Any chance you can do some more digging to see how beta versions are published to brew? do you think its just impossible?

[2020-11-23 20:43] campionfellin commented on #409
Yes - certainly looks possible, [docs](https://docs.brew.sh/Formula-Cookbook#unstable-versions-devel-head)

If there's no plans to release 1.0 soon I'll try to publish the beta version

[2020-11-24 02:52] campionfellin opened #412 "[cdk8s-cli] Github release of cli not working"
### Description of the bug:

https://github.com/awslabs/cdk8s/issues/409

Basically - to get `brew install cdk8s --head` to work (basically unstable/beta version) our Github releases need to be properly formatted.

Going here and downloading the zip file: https://github.com/awslabs/cdk8s/releases/tag/v1.0.0-beta.3

And extracting, you get a folder like:

[code]

(omitted non-relevant files).

That

[2020-11-24 03:24] campionfellin commented on #412
Seems like this is what's going on:

In our Release workflow, we upload an artifact:

https://github.com/awslabs/cdk8s/blob/ff5852c395d7b2044b1d3699e0b434f82e129333/.github/workflows/release.yml#L28-L32

But we don't use it for our Github releases:

https://github.com/awslabs/cdk8s/blob/ff5852c395d7b2044b1d3699e0b434f82e129333/.github/workflows/release.yml#L33-L36

Here is our `release-github.sh`

[2020-11-24 06:36] eladb commented on #412
We currently don't upload the build artifacts as part of the GitHub release because those artifacts are published to their respective package manager.

Why can't brew download/install the CLI from npm? There should be a url that they can just hit to download the tarball.

[2020-11-24 14:46] campionfellin commented on #412
Great callout, their documentation hinted at downloading from a `git` url, but seems that npm works just as well.

---

Are the Github releases then just snapshots of the repository? I think it makes sense to publish the artifacts with everything. Looks like it stopped publishing around v0.26.0.

[2020-11-24 14:46] campionfellin commented on #409
PR with Homebrew - https://github.com/Homebrew/homebrew-core/pull/65596

[2020-11-24 15:10] campionfellin commented on #409
Going to mark this as blocked, until we get a stable `1.0.0` - in their [docs](https://docs.brew.sh/Versions):

[code]

And the PR was rejected.

[2020-11-24 17:04] iliapolo commented on #409
@campionfellin I'm not sure I understand. I saw the rejection by homebrew, so is this comment still applicable? https://github.com/awslabs/cdk8s/issues/412#issuecomment-733019966

I can't understand if there is indeed a way to release the beta to brew or not :\

[2020-11-24 17:24] campionfellin commented on #409
I am a bit confused myself on whether or not it is possible. In my PR with homebrew, it's pretty obvious that we're using a beta build:

[code]

I think if we change it to something like:

[code]

It might be acceptable. However, we can't change it to the Github link unless we publish the artifacts here.

[2020-11-24 20:44] iliapolo commented on #409
Even if we did have the artifacts in GitHub it would still point to an obviously visible beta version indication.
If there isn't an official way to publish beta software to brew (which is silly because 0.x is also considered non stable) than we shouldn't be doing it.

Im ok with modifying the docs and just removing the brew installation method until we release 1.0, which a notice stating to the fa

[2020-11-24 21:40] diamondiona opened #414 "cdk8s init failed on windows 10"
### Description of the bug:

cdk8s init python-app failed on windows 10. looks like it didn't find pipenv. but I can run pipenv successfully from command line

### Reproduction Steps:

cdk8s init python-app

### Error Log:

C:\work\cdk8s>cdk8s init python-app
Initializing a project from the python-app template
'which' is not recognized as an internal or external command,
operable program or batch

[2020-11-24 22:02] eladb commented on #409
+1

[2020-11-25 01:24] campionfellin commented on #409
Works for me! Closing.

[2020-11-25 01:24] campionfellin commented on #412
Closing this, github release is working as intended.

[2020-11-25 01:24] #412 closed

[2020-11-25 07:15] eladb commented on #409
Should we keep this open to track the work to update docs?

[2020-11-25 09:10] dgzlopes opened #419 "Yaml.stringify()"
### Description of the feature or enhancement:
I would love to have some YAML utilities built-in to cdk8s.

### Use Case:

While working with k8s, we are working with YAML in one way or another. Having some YAML utilities would enable users to do things like this one, without having to install external deps:
[code]

### Proposed Solution:

### Other:

This was proposed by @eladb on Slack.

* [ ] :

[2020-11-25 15:43] diamondiona commented on #414
looks like windows isn't an ideal platform. which OS supports best? should I use cloud9 IDE?

[2020-11-25 16:31] #414 closed

[2020-11-25 21:55] iliapolo commented on #414
@diamondiona We try to support and fix bugs on all platforms. Please feel free to report any issue you discover on any platform.

[2020-11-26 01:04] diamondiona commented on #414
I got the same error. Did I do something wrong?

C:\Users\xg03789>npm install -g cdk8s-cli
C:\download\node-v12.18.3-win-x64\cdk8s -> C:\download\node-v12.18.3-win-x64\node_modules\cdk8s-cli\bin\cdk8s
+ cdk8s-cli@1.0.0-beta.3
updated 6 packages in 9.578s
C:\work\cdk8s>cdk8s init python-app
Initializing a project from the python-app template
'which' is not recognized as an internal or external comm

[2020-11-26 03:57] foriequal0 opened #420 "cdk import doesn't include API level for `Spec`s schema"
### Description of the bug:
imported `Spec`s also should have API levels.

For example, `HorizontalPodAutoscalerSpec` have been changed from v1 ([v1](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.19/#horizontalpodautoscalerspec-v1-autoscaling), [v2beta2](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.19/#horizontalpodautoscalerspec-v2beta2-autoscaling))

I unde

[2020-11-26 08:21] foriequal0 commented on #160
I've tried to implement similar to this https://github.com/awslabs/cdk8s/issues/178
Originally, I wanted to set `app.kubernetes.io/instance` as `Names.toLabelValue(this)`, but there were some hassles.
JS prevents accessing `this` before calling `super`, so I can't simply initialize it with
[code]
But I couldn't neither `this.labels[INSTANCE] = Names.toLabelValue(this)` since `this.labels` is an im

[2020-11-26 13:18] iliapolo commented on #414
@diamondiona Apologies, seems like there are a few issues with windows support, this being one of them. We will address them and try to release a fixed version soon. For now, any unix based OS should be ok.

I haven't tried Cloud9 myself but curious to hear about your experience if you decide to try it.

[2020-11-26 13:20] iliapolo opened #422 "Windows support"
We should officially support windows before announcing GA. This means adding some windows CI in GitHub actions as well.

* [ ] :wave: I may be able to implement this feature request
* [ ] :warning: This feature might incur a breaking change

---

This is a :rocket: Feature Request

[2020-11-26 16:10] mcouthon opened #423 "Question: why are all the attributes read only?"
I see that (at least in python) all the attributes of the auto generated k8s classes are decorated as properties. Why is that? Why not allow changing the values after creation?

If there's a good reason to disallow that, then what would be the canonical way to change only one value inside an already created object?

For example, my scenario is that I have a list of containers, and post hoc want to

[2020-11-26 18:21] eladb commented on #420
Great call out. Thanks!

[2020-11-27 08:47] iliapolo commented on #423
@mcouthon We currently opted for immutability on the generated [L1 level constructs](https://github.com/awslabs/cdk8s/blob/master/packages/cdk8s-plus-17/src/imports/k8s.ts) to provide a more predictable experience (think about another function possibly overriding your changes).

In contrast, the [L2 level constructs](https://cdk8s.io/docs/v1.0.0-beta.3/reference/cdk8s-plus-17/) do offer some mutat

[2020-12-01 06:02] campionfellin commented on #422
Some notes on this:

* Github actions does not support container actions for Windows ([docs here](https://docs.github.com/en/free-pro-team@latest/actions/creating-actions/about-actions#types-of-actions)) and [failed build here](https://github.com/campionfellin/cdk8s/runs/1478264468?check_suite_focus=true)
* We've been piggy-backing off the [`jsii/superchain`](https://github.com/aws/jsii/tree/main/

[2020-12-01 07:47] iliapolo commented on #422
@campionfellin I don't think we actually need to *build* on windows, we just need to run the integration tests, which should only require `node/python/java`.

This means we won't officially support windows as a development machine, but thats ok, we are targeting runtime.

[2020-12-01 16:09] campionfellin commented on #422
@iliapolo great point! I think I can take this one if no one else has started on it

[2020-12-01 16:12] iliapolo commented on #422
@campionfellin that would be awesome, thanks! :)

[2020-12-03 13:55] #401 closed

[2020-12-03 15:08] yjw113080 opened #434 "cdk8s-plus-17 compile error"
### Description of the bug:

When I init cdk8s application and add cdk8s-plus-17 with `npm i cdk8s-plus-17`, I get typescript compile error.

### Reproduction Steps:

1. `cdk8s init typescript-app`
2. `npm i cdk8s-plus-17`
3. `npm run watch`

### Error Log:

node_modules/cdk8s-plus-17/lib/job.d.ts:1:50 - error TS2305: Module '"../../cdk8s/lib"' has no exported member 'Duration'.

1 import { ApiObj

[2020-12-03 17:10] iliapolo commented on #434
@yjw113080 You need to use version `^1.0.0.-beta.3` of `cdk8s` as well, not just `cdk8s-plus-17`.

[2020-12-04 03:33] campionfellin commented on #422
@iliapolo somewhat stuck here, do you have any windows experience? I'm getting the error:

`cdk8s: command not found`

On the first integration test here:

https://github.com/awslabs/cdk8s/blob/ac295fe78544c4b06f732fe945dfa6423eea5c83/test/test-imports/python/test.sh#L14

This is what I've tried so far:

1. Verified it's in the path and executable by `ls -al` the path:

https://github.com/awslabs/

[2020-12-05 02:00] captainrandom opened #435 "restrict CIDR IP addresses for a LoadBalancer type not supported"
### Description of the feature or enhancement:
I would like to restrict my service to whitelisted cdir IP ranges. This is already supported. See the `loadBalancerSourceRanges` on the following page:
https://aws.amazon.com/premiumsupport/knowledge-center/eks-cidr-ip-address-loadbalancer/

Right now there is no way to specify it using the current object configurations. Thus forcing me to use an esca

[2020-12-07 11:24] iliapolo commented on #435
This should be added as a property on the [`Service`](https://github.com/awslabs/cdk8s/blob/master/packages/cdk8s-plus-17/src/service.ts#L10) construct. 👍

[2020-12-07 11:31] iliapolo commented on #422
@campionfellin

What do you mean by that? How are you running these scripts? can you share a link to the workflow?

I think we need a windows version of all the scripts running the integration tests, or better yet, convert them to nodejs scripts.

[2020-12-09 06:14] #423 closed

[2020-12-09 14:05] iliapolo commented on #422
@campionfellin Can't say I know what's happening...do you have capacity to keep hacking on it? lets sync up online.

[2020-12-10 05:07] foriequal0 opened #438 "[cdk8s+] Container resource requirements and HPA"
### Description of the feature or enhancement:
Containers can set their resource limits/requests.

### Use Case:
Horizontal Pod Autoscaler requirs containers to set resource requirements.

### Proposed Solution:
[code]

### Other:
* [ ] :wave: I may be able to implement this feature request
* [ ] :warning: This feature might incur a breaking change

---

This is a :rocket: Feature Request

[2020-12-10 05:23] foriequal0 opened #439 "[cdk8s+] Enhanced port"
### Description of the feature or enhancement:
Current containers can only export a single port. It has even limited set of features, no named port, cannot set protocols.

### Use Case:

### Proposed Solution:
[code]

### Other:

* [v] :wave: I may be able to implement this feature request
* [v] :warning: This feature might incur a breaking change

---

This is a :rocket: Feature Request

[2020-12-10 15:38] campionfellin commented on #422
@iliapolo finally got testing to work this morning! The tests fail on Windows, but at least they run now. My plan here is to:

1. Clean that code up a bit and open a PR that adds the Windows step to the pipeline.
2. Work separately on PRs that fix failing tests on Windows.
3. Continually merge from mainline into the first PR until it passes, then merge it itself.

[2020-12-15 05:46] campionfellin opened #448 "Switch main repository branch from master to main"
### Description of the bug:

### Reproduction Steps:

### Error Log:

### Environment:

  - **Framework Version**:
  - **OS**:

### Other:

---

This is :bug: Bug Report

[2020-12-15 06:15] #434 closed

[2020-12-15 18:46] tabern opened #449 "Create Owners File"
To support CNCF onboarding https://github.com/cncf/toc/issues/556

[2020-12-15 18:50] tabern opened #450 "Transfer to new GitHub org"
To support CNCF onbaording (https://github.com/cncf/toc/issues/556)

- [ ] GitHub: move cdk8s from AWSLabs
- [ ] GitHub: ensure 'thelinuxfoundation' and 'caniszczyk' are added as initial org owners, this helps us make sure we have continuity of GH ownership

[2020-12-15 18:52] tabern opened #451 "Upload Artwork to CNCF"
For Sandbox onboarding (https://github.com/cncf/toc/issues/556)

- [x] Assets: Horizontal, Stacked, Icon
- [x] Assets: Color, Black, White
- [x] Assets: PNG, SVG
- [x] GitHub: add cdk8s to https://github.com/cncf/artwork/blob/master/examples/sandbox.md

[2020-12-15 20:43] eladb opened #452 "CLI: new version notifications"
### Description of the feature or enhancement:

Print a notification if there is a new version of the CDK8s CLI.
* [ ] :wave: I may be able to implement this feature request
* [ ] :warning: This feature might incur a breaking change

---

This is a :rocket: Feature Request

[2020-12-15 21:09] eladb commented on #419
There is a `Yaml` class with a bunch of utilities: https://cdk8s.io/docs/v1.0.0-beta.5/reference/cdk8s/#cdk8s-yaml

[2020-12-15 21:33] tabern commented on #451
https://github.com/cncf/artwork/pull/209

[2020-12-15 22:16] dgzlopes commented on #419
Thanks for taking a look @eladb!

I've read the docs of the Yaml class, and I see that we don't have anything to convert Javascript data structures to a YAML string (as `yaml.safeDump` does). I illustrated my use-case above, on the first comment!

[2020-12-16 06:42] eladb commented on #419
@dgzlopes Yes you are correct. We don't expose this method. Should be trivial.

Contributions are welcome.

[2020-12-16 18:36] darksinge opened #466 "Unclear behavior with appending IDs to synthesized file names"
I asked a [question on SO](https://stackoverflow.com/questions/65327633/how-to-prevent-cdk8s-from-appending-id-to-synthesized-files) about IDs being appended to file names after running `cdk8s synth`, but after some more digging I discovered some behavior that isn't clear to me and I wasn't able to find anything in the docs.

Here's what I'm seeing:

If I create a new project with `cdk8s init type

[2020-12-17 03:22] LoongLiWang opened #468 "cdk8s import k8s -l python Error: error during project initialization: Error: Command failed cdk8s-cli@1.0.0-beta.5"
### Description of the bug:

Error in executing ``` cdk8s init python-app ```

### Reproduction Steps:

cdk8s init error

### Error Log:

[code]

### Environment:

  - **Framework Version**:
  - **OS**: windows 10
  - **Python Version**:  Python 3.7.9
  - **Pipenv Version**:  pipenv, version 2020.11.15
  - **Npm Version**: 6.14.8
  - **cdk8s-cli Version**: cdk8s-cli@1.0.0-beta.5
  - **nodejs versi

[2020-12-17 04:44] campionfellin commented on #468
Hey @LoongLiWang I think this could possibly be due to some issues with how the template scaffolding is set up. Looks like you're failing here:

https://github.com/awslabs/cdk8s/blob/1bcb66b7cce667bc85534d731a63aec0590f70c4/packages/cdk8s-cli/templates/python-app/.hooks.sscaff.js#L50-L51

Could you just run `cdk8s import k8s -l python` followed by `pipenv run main.py`?

You may also have some issu

[2020-12-17 06:12] LoongLiWang commented on #468
thank， I successfully generated the dist/hello.k8s.yaml file by executing ``` pipenv run python main.py ```
[code]

But the execution of  ```cdk8s import k8s -l python```  still reports an error
[code]
Is this a network problem?

[2020-12-17 17:13] iliapolo commented on #468
@LoongLiWang looks like it...was it resolved?

[2020-12-17 22:54] iliapolo commented on #466
@darksinge Indeed looks like a bug. The root cause is some DNS naming validation code that we probably didn't intend to apply on chart file names.

Thanks!

[2020-12-18 12:41] #409 closed

[2020-12-18 15:18] #468 closed

[2020-12-18 15:18] LoongLiWang commented on #468
Yes, thank you, it has been resolved, this is caused by network problems.

[2020-12-18 20:56] NonLogicalDev commented on #364
CDK8s sounds like such an amazing tool, but having to:
* install node
* run a watch process to compile typescript
* run a separate process to synthesize yaml files

This is quite a lot of hassle if all you wish is to deploy a chart in a more programmatic (sane) way then helm. I am certain many people looking to use CDK8s would be thrilled to see the number of steps reduced, so that these charts ca

[2020-12-22 00:40] moises-perez-tfs commented on #141
I was exploring to find a feature like this. Our use case is to automate the management (add, remove) of Identity Mappings in the aws-auth in EKS. Is this feature also going to be available in code (not just command) to enable automation?

[2020-12-22 02:41] moises-perez-tfs opened #479 "module 'cdk8s' has no attribute 'Size' in cdk8s 0.33.0"
### Description of the bug:
Python cdk8s-plus-17 0.33.0 does not seem to be compatible with cdk8s 0.33.0

### Reproduction Steps:

Setup using cdk8s 0.33.0:

[code]

I created this script
[code]
Then, I ran the script:
[code]

### Error Log:
[code]

### Environment:

  - **Framework Version**: 0.33.0
  - **OS**: macOS Catalina 10.16.7

### Other:
I was able to make it work by installing the older

[2020-12-22 13:17] iliapolo commented on #479
@moises-perez-tfs

You're right, we had some issue with this version of `cdk8s-plus-17`. If you upgrade both `cdk8s`, `cdk8s-plus-17` and `cdk8s-cli` to the latest versions it should all work.

[2020-12-22 13:44] iliapolo commented on #141
@moises-perez-tfs We still don't have a concrete plan for this feature. Noted that it would be good to have it available via an API as well :)

[2020-12-23 02:47] moises-perez-tfs commented on #479
Thank you @iliapolo !

You are right, 1.0.0-beta.5 works just fine. I guess I thought 0.33.0 was the latest version since that is the one homebrew installs by default.

[2020-12-23 02:47] #479 closed

[2020-12-23 06:34] eladb commented on #364
CDK is not particularly opinionated about how you organize your project or compile your code. The template projects provided by `cdk init` are intentionally very basic.

You can check out https://github.com/projen/projen there is a CDK app project already there.

[2020-12-23 08:49] civilizeddev opened #483 "[cdk8s-plus-17/Deployment] spec.template.spec.volumes[1].name: Duplicate value"
### Description of the bug:

#### Actual Result

[My chart](https://github.com/civilizeddev/cdk8s-20201223/blob/b76f932d17bc8ccd3c9bcc7888003b7696fc13a3/lib/charts/mosquitto.ts#L34-L62
) generates [duplicate volume items in specs of Deployment](https://github.com/civilizeddev/cdk8s-20201223/blob/b76f932d17bc8ccd3c9bcc7888003b7696fc13a3/out/mosquitto.k8s.yaml#L74-L114
).

#### Expected Result

[cod

[2020-12-24 11:29] #452 closed

[2020-12-24 12:38] eladb opened #485 "docs: edit page does not work for generated pages (like API.md)"
### Description of the bug:

In our docs, the "edit" button does not work for generated content.

[2020-12-24 12:39] eladb opened #486 "docs: docs should be published with release"
### Description of the feature or enhancement:

At the moment, every commit to `master` will publish a new version of the doc site. This can cause a discrepancy between the docs and the latest release.

We need to couple the doc publishing with the release.

[2020-12-24 12:43] eladb opened #487 "Collect available KPI's we can use to evaluate engagement"
We need to find a way to collect usage analytics through the CLI or the library.

[2020-12-25 02:40] saran-007 commented on #119
@eladb - My team and I are interested in exploring contributions to Golang support. Is there any effort started that we can join on? any directions will help.

[2020-12-25 13:32] iliapolo commented on #483
@civilizeddev Thanks for reporting. This happens because the deployment automatically adds the volumes specified in the container mount to the pod spec, and the bug is that it allows for the same volume to be added twice:

https://github.com/awslabs/cdk8s/blob/25ada8e7755ad379c7deb9d520a74cb70d5fe5f4/packages/cdk8s-plus-17/src/pod.ts#L115-L124

[2020-12-25 20:01] iliapolo opened #490 "L1 specs should be required (when they are required)"
### Description of the feature or enhancement:

The `spec` property of L1 constructs should be required.

For example, right now one can instantiate a pod like this:

[code]

This doesn't make sense because a spec must be configured, and L1 constructs do not offer post instantiation mutations.

Can we make `spec` required?

### Use Case:

Stronger type validations.

* [ ] :wave: I may be able to i

[2020-12-25 20:45] iliapolo opened #491 "Enforce every L2 construct properly configures the default child"
### Description of the feature or enhancement:

We need to make sure that new L2 constructs we add have a properly configured default child.

### Use Case:

Correct behavior of newly added resources.

### Other:

https://github.com/awslabs/cdk8s/pull/389#discussion_r526132150

* [ ] :wave: I may be able to implement this feature request
* [ ] :warning: This feature might incur a breaking change

-

[2020-12-25 20:55] iliapolo opened #492 "npm 'upgrade' task in init templates should include cdk8s-plus and constructs"
### Description of the feature or enhancement:

Currently the upgrade command doesn't include `cdk8s-plus-17`, I believe this is just an oversight because we didn't used to install it by default.

Also, since constructs is a peer dependency, users need to potentially upgrade it as well when upgrading cdk8s, so might as well upgrade constructs in this command as well.

### Use Case:

Easier upgrade

[2020-12-27 19:12] #483 closed

[2020-12-28 04:45] bbrfkr opened #494 "fail to include contour helm chart"
### Description of the bug:

I hope to include [contour](https://projectcontour.io/) helm chart. But cdk8s generate invalid yaml file. The generated yaml file includes invalid multiline string value...

[code]

### Reproduction Steps:

1. generate contour chart yaml file.
[code]
2. include 1. yaml file by using `Include` class.
[code]
3. synth the app.
[code]
4. apply the manifest to k8s cluster.

[2020-12-28 04:49] bbrfkr commented on #494
To fix this problem, I found the solution that add line `YAML.scalarOptions.str.fold = { lineWidth: 0 }` to `packages/cdk8s/src/yaml.ts`.

https://github.com/awslabs/cdk8s/blob/47c913e1abc026611332fcf03b209adda7aba419/packages/cdk8s/src/yaml.ts#L13

[code]

[2020-12-28 17:45] balibebas commented on #487
-1 on telemetry

[2020-12-29 12:23] eemeli commented on #494
See https://github.com/awslabs/cdk8s/pull/495#issuecomment-752055982 for some discussion on the root cause for this.

[2020-12-30 22:17] iliapolo commented on #363
@danikenan Sorry the very delayed response. Thanks for the suggestion, but we try to avoid adding dependencies unless they are absolutely necessary.

This issue should now be resolved because we increased the buffer size to `10MB` in this [PR](https://github.com/awslabs/cdk8s/pull/454/files).

[2020-12-30 22:17] #363 closed

[2020-12-31 15:05] rlewkowicz opened #497 "I feel like without a good way to apply these, I don't quite see the value"
### Description of the feature or enhancement:
Just as it's easy mode to create these templates, I'd like a programmatic way to apply them as well.

### Use Case:
Right now I have a daemon I've built in python that watches a rancher event stream and does/is going to do stuff based on the emitted events. From my experience, the python Kubernetes client is not the best. I couldn't find a way around

[2021-01-04 17:50] #497 closed

[2021-01-08 18:38] heckler1 commented on #172
I had trouble with this as well, and was able to chase down what I believe to be the root cause, using the following PoC code:

[code]

It appears that there was a previous issue, #325, which was due to certain boolean and date types not being parsed correctly. The original incorrect YAML was analogous to:
[code]

The resolution of #325 was #327 which, among other things, included the addition of

[2021-01-11 15:12] #172 closed

[2021-01-14 12:15] idvoretskyi opened #508 "DCO check is missing for the cdk8s project"
Greetings, project maintainers.

CNCF's IP policy (https://github.com/cncf/foundation/blob/master/charter.md#11-ip-policy) requires all projects to use either CLA (Contributor License Agreements) or DCO (Developer Certificate of Origin). Unless there's a strong necessity to use CLA, we encourage projects to use DCO as it's easier to setup and use. Ref.: https://github.com/cncf/foundation/issues/13

[2021-01-14 13:07] eladb commented on #508
Thanks @idvoretskyi we will take care of this as soon as possible.

[2021-01-14 14:46] itajaja commented on #232
for everyone stumbling on this issue, I had the same question so after some code digging I found out that this is the identifier that gets hashed: [`Node.Path`](https://github.com/aws/constructs/blob/master/src/construct.ts#L87) in the constructs library. So, the hashes are stable as long as the names that enclose the node remains unchanged. I think it's also useful to add to the documentation a s

[2021-01-18 04:15] guan840912 opened #509 "(cdk8s-plus ingress) support sslRedirect method."
### Description of the feature or enhancement:
`cdk8s-plus`  support `cdk8s-plus.IngressBackend.sslRedirect()` method.

### Use Case:

In `aws-load-balancer-controller` config, we need to add ssl-redirect rule in rules.
https://kubernetes-sigs.github.io/aws-load-balancer-controller/latest/guide/tasks/ssl_redirect/
[code]
### Proposed Solution:

add `cdk8s-plus.IngressBackend.sslRedirect()` method

[2021-01-18 07:27] civilizeddev commented on #483
@iliapolo When will this change be released? (e.g. v1.0.0-beta.6)

[2021-01-18 17:47] iliapolo commented on #483
@civilizeddev We are planning a release this week.

[2021-01-19 00:28] civilizeddev opened #511 "[cdk8s+] k8s API v1.20 and cdk8s-plus-20"
This is just a question.

To use k8s API v1.19, v1.20 and cdk8s together,

Do I have to create my own `cdk8s-plus-19`, `cdk8s-plus-20`?

Currently, this repo provides only `cdk8s-plus-17`.

I was just wondered but still wondered even with [the documentation](https://cdk8s.io/docs/v1.0.0-beta.5/plus/).

Thank you.

[2021-01-22 13:03] trondhindenes opened #516 "Lookups"
### Description of the feature or enhancement:
It would be good if cdk8s had built-in support to import existing values, if exist.

A use case for this would be to instantiate secrets that are then "filled" by init containers or similar: If the secret doesn't exist, create it and set `data.mykey` to an empty string. However, if it does exist, do not "reset" it, instead import the existing value if

[2021-01-27 11:35] iliapolo commented on #516
@trondhindenes We've been thinking about this and are definitely interested to hear some concrete use-cases. Can you elaborate on what exactly you had in mind? Are you looking to use a concrete secret value during synthesis? Because just *referencing* existing secrets in the manifest is supported by using `Secret.fromSecretName` and passing the `ISecret` around.

[2021-01-27 11:52] iliapolo commented on #511
@civilizeddev The `cdk8s-plus-17` package contains high level API's for features and resources that exist in version `1.17.0`. Note however that it can be deployed to clusters with version `1.17.0` or higher.

If you are looking for high level API's for features and resources that exist in version > `1.17.0` **only**, then this currently doesn't exist. For that we (or anyone who is interested) wou

[2021-01-27 12:25] civilizeddev commented on #511
@iliapolo
Thank you for the answer.

It's the last question.

If there were `cdk8s-plus-19`, `cdk8s-plus-20` and `cdk8s-plus-21`, would they grow separately then?

[2021-01-27 12:42] iliapolo commented on #511
@civilizeddev They will be versioned the same as all cdk8s module, but yes features could be added to each of the independently.

You're concern around duplication is valid, and we are actually discussing mechanisms on how to reuse them, so that features added to `cdk8s-plus-19` will automatically be available in `cdk8s-plus-20`. If you are interested in starting up an additional cdk8s-plus librar

[2021-01-27 12:46] iliapolo commented on #511
@civilizeddev The reason we did it this way is to be more as type safe as possible, and not expose properties that might not exist in specific specs.

[2021-01-27 12:58] civilizeddev commented on #511
@iliapolo

I am very interested in maintaining `cdk8s-plus-20` because my team is currently using k8s v1.20.

I'd appreciate it if you could give me a chance to do it.

Please consider it.

[2021-01-27 13:01] iliapolo commented on #511
@civilizeddev Sounds great. Let me think what our next steps her would be 👍

[2021-01-27 15:46] #449 closed

[2021-01-27 18:49] #451 closed

[2021-01-27 22:52] trondhindenes commented on #516
Yup, we actually merged one in the dapr project (which is using Helm) yesterday that is a good example of this:
https://github.com/dapr/dapr/blob/master/charts/dapr/charts/dapr_sidecar_injector/templates/dapr_sidecar_injector_webhook_config.yaml

Here's what happens:
- Helm creates the secret (without any data) if it doesnt exist
- A pod starts up, and if the secret is empty, it gets "filled"
- Up

[2021-01-31 18:53] #435 closed

[2021-02-01 08:56] #509 closed

[2021-02-02 18:34] Vinutha-Garimella opened #525 "Stop sorting the fields in alphabetical order in generated yaml file"
### Description of the feature or enhancement:

Hi, I don't know whether this feature already exist or not, Can someone please help me with this issue.

When I run `cdk8s synth` yaml files are getting generated in dist folder. List or directory declared in .ts file is getting sorted alphabetically in generated yaml file, is there a way to not sort these fields..?

### Use Case: Avoiding alphabetic

[2021-02-03 01:24] #486 closed

[2021-02-03 14:16] #494 closed

[2021-02-03 16:15] Vinutha-Garimella commented on #525
Hi, any update on this..?

[2021-02-03 16:18] eladb commented on #525
I believe we are only sorting dictionaries which are expected to be unordered by definition. Can you expand on the use case for _not_ sorting dictionaries? Are you also seeing a sort of arrays?

[2021-02-03 18:09] Vinutha-Garimella commented on #525
@eladb  as I mentioned earlier if the dictionaries get sorted during the cdk8s synth, the generated yaml fields are being evaluated first other than PVC's which is causing pods to be in `Container creating state`
[code]

[2021-02-04 14:46] eladb commented on #525
Trying to wrap my head around this - seems like you are defining a [MinIO Tenet](https://github.com/minio/operator/blob/master/docs/crd.adoc#k8s-api-github-com-minio-operator-pkg-apis-minio-min-io-v1-tenantspec), and I am curious if their documentation indicates that the order of the keys under `zones` is important. Do you have any reference for this or is it empirical?

[2021-02-04 17:51] Vinutha-Garimella commented on #525
@eladb This issue is not only for minio tenant creation, I am facing this issue for elasticsearch, victoria metrics, mysql, postgres clusters. Basically if we have any configuration file with affinity prior to other configuration the pods are not getting created. I tried changing the order in the CRD's which were used for these cluster but no luck there I still get the yaml file in sorted order by

[2021-02-04 17:55] Vinutha-Garimella commented on #525
Here is the yaml file that I used as reference while writing minio charts https://github.com/minio/operator/blob/master/examples/tenant.yaml

I had also created an issue with minio operator thinking that there is some issue with the minio CRD that I used
https://github.com/minio/operator/issues/451

[2021-02-05 05:44] SpoortiPalakshaiah opened #526 "How to declare configurations with | (pipe) in cdk8s typescript"
I'm trying to write charts for mysql in typescript which consists of configuration containing pipe as follows:
[code]

How can I write the above in cdk8s typescript chart

[2021-02-05 05:47] SpoortiPalakshaiah commented on #525
Hello @eladb, I'm also facing issues with sorted dictionary output; I'm trying to create Victoriametrics cluster yaml file using cdk8s typescript chart; And because of sort issue the pods are not coming up;

[2021-02-05 14:14] heckler1 commented on #115
This type of feature is relevant to my use-case, so I took a stab at implementing it. Please let me know what y'all think, there seem to be a couple different ways to do something like this. I chose to make it an App-level configuration, but it could be worth having a global level as well.

[2021-02-09 09:30] Vinutha-Garimella commented on #525
Hi, any update on this..?

[2021-02-10 13:33] iliapolo commented on #526
@SpoortiPalakshaiah You should be able to just use back-ticks for a multiline string:

[code]

[2021-02-10 20:41] iliapolo commented on #516
@trondhindenes Thanks for the breakdown. I'll put it on our docket and let it collect some more feedback and use-cases before we try and tackle it.

In the meantime, I'm interested in the specifics of what you described.

The pod waits until the secret is created right? Or are you enforcing a resource creation order somehow?
Have you considered a model where the owner of the secret is actually the

[2021-02-14 19:52] trondhindenes commented on #516
So, the secret exists, but it doesnt contain data.

A valid example is generating a self-signed cert (for example used by a mutating admission webhook or similar). Pod starts, sees that the secret doesn't contain any data, so it generates a self-signed cert, and stores it in the secret. Subsequent pod restarts/upgades will simply re-use the existing cert already there.

This might be a bit of a ed

[2021-02-18 13:27] eladb commented on #525
@SpoortiPalakshaiah can you share the YAML manifest that is failing and what exactly is not in the correct order?

[2021-02-18 13:54] eladb commented on #525
CDK8s sorts keys to make sure the synthesized output is deterministic and stable, and the fundamental semantics of dictionaries is that they are unordered. Having said that, we understand reality can be a messy business, and we will consider adding a flag that will disable the use of [json-stable-stringify](https://github.com/substack/json-stable-stringify) to unblock such use cases.

BTW, it appe

[2021-02-18 15:58] eladb commented on #525
Stay tuned for https://github.com/awslabs/cdk8s/pull/534

[2021-02-18 18:30] Vinutha-Garimella commented on #525
I did change the order of volumeClaimTemplate and affinity fields in MinIO CRD, to test the order in generated yaml file but affinity field was added before volumeClaimTemplate after executing `cdk8s synth`

[minio-minio.ts](https://github.com/awslabs/cdk8s/files/6005000/minio-minio.txt)

[2021-02-19 00:26] cbroglie opened #535 "cdk8s import doesn't handle CRDs with multiple API versions"
### Description of the bug:
cdk8s import only imports a single version of CRDs, I think whichever one is defined first.

### Reproduction Steps:

Download and import CRDs for [cert-manager](https://cert-manager.io/):
[code]

The import succeeds, but only includes v1alpha2. But there are 3 other versions defined:
[code]

### Environment:

  - **Framework Version**: 1.0.0-beta.6
  - **OS**: macOS

#

[2021-02-21 15:58] iliapolo commented on #535
fyi @eladb

[2021-02-22 06:14] #526 closed

[2021-02-22 09:05] #525 closed

[2021-02-23 06:18] Vinutha-Garimella commented on #525
Hi @eladb , I see that the code has been merged with a fix to disable the sort, where do  I set this `CDK8S_DISABLE_SORT=true` variable..?
should I export it as a environment variable before executing `cdk8s synth`..?

[2021-02-23 06:57] eladb commented on #525
Either export it in your shell before you synth or set it in-process using something like:

[code]

Before you create the `App` object.

Let me know if everything works as expected.

[2021-02-24 06:32] Vinutha-Garimella commented on #525
@eladb thank you so much for you help, I am able to get generated yaml file in, unsorted way and pods are getting created now

[2021-02-24 09:17] eladb commented on #525
Glad to hear! 🥇

[2021-02-24 09:41] withshubh opened #538 "Integration: DeepSource"
### Description
I ran DeepSource analysis on my fork of this repository and found some code quality issues. Have a look at the issues caught in this repository by DeepSource [here](https://deepsource.io/gh/withshubh/cdk8s/issues/?category=recommended).

[DeepSource](https://deepsource.io/) is a code review automation tool that detects code quality issues and helps you to automatically fix some of

[2021-03-02 01:25] seansabour opened #540 "Add the ability to add imagePullSecrets to deployments"
### Description of the bug:

Add the ability to use private registry credentials when creating a deployment..

### Reproduction Steps:

### Error Log:

No error message, just no options/documentation to add imagePullSecrets

### Environment:

  - **Framework Version**:
  - **OS**:

### Other:

---

This is :bug: Bug Report

[2021-03-02 02:06] seansabour commented on #540
This was user error lol, burred in the api reference you can find image_pull_secret :)

[2021-03-02 02:06] #540 closed

[2021-03-02 20:26] amye commented on #450
Quick ping on this, thanks!

[2021-03-03 13:13] eladb commented on #450
We are on it. Sorry this has been taking so long.

[2021-03-04 18:21] sunshineo opened #545 "Missing initContainer in PodSpecProps"
Kubernetes has it https://kubernetes.io/docs/concepts/workloads/pods/init-containers/ but not cdk8s

When try to use it

![image](https://user-images.githubusercontent.com/1072766/110010580-4dca9d80-7cd3-11eb-98df-0dc2252964d6.png)

[code]

[2021-03-04 19:19] sunshineo opened #546 "Produce a file for deleted resources"
To remove resource using kubectl we need the file with all the resources deleted and run `kubectl delete -f deleted-resource.yaml`

Our current workaround now is comment out everything else from the main.ts file, run synth to get that file

The other way is save the yaml file in dist folder, delete in main.ts, run synth, then diff the file to get what was deleted

Is it possible to have a diff/del

[2021-03-05 00:00] sunshineo opened #547 "Helm test only pod should be ignored"
### Description of the bug:
When using the `Helm` construct to load a helm chart, the generated k8s yaml file contains pod that is test only. According to helm doc https://helm.sh/docs/topics/charts_hooks/ , those are only used when run `helm test`. The `Helm` construct should ignore it.

### Reproduction Steps:
One helm chart can be used to reproduce is
[code]
The final k8s yaml file will contain

[2021-03-05 00:00] sunshineo commented on #65
@mbonig Great job. I found something maybe a bug and filed https://github.com/awslabs/cdk8s/issues/547

[2021-03-07 06:51] eladb commented on #178
Currently, this can be achieved manually by adding a label at the `Chart` level (which will get applied to all resources within this chart) and then use `kubectl apply --prune`:

[code]

Then:

[code]

[2021-03-07 06:52] eladb commented on #546
It won't be possible for CDK8s to _know_ which resources are deleted because your CDK app only defines the desired state.

The best practice is to add a label to all resources in your app and then use `kubectl apply --prune` with that label.
See https://github.com/awslabs/cdk8s/issues/178#issuecomment-792228327 for some details on how to achieve this manually.

@sunshineo let me know if this addre

[2021-03-08 17:42] sunshineo commented on #546
Thank you @eladb . I think we can close this issue

[2021-03-08 17:45] #546 closed

[2021-03-08 18:10] iliapolo commented on #547
@mbonig What do you think about this? is there a way we can remove those "test" pods?

[2021-03-08 18:47] iliapolo commented on #545
@sunshineo Thanks for reporting this. Indeed `cdk8s+` does not have support for `initContainers` just yet. But you can use [escape hatches](https://cdk8s.io/docs/v1.0.0-beta.10/concepts/escape-hatches/) to manually add them to the underlying resource spec.

Also note that the L1 layer constructs, i.e `KubePodSpec` that is generated from the `cdk8s import` command will have that property, as it con

[2021-03-08 18:52] sunshineo commented on #545
Thank you @iliapolo . I was not aware of the escape hatches. I thought the `PodSpec` itself is generated

[2021-03-08 23:47] mbonig commented on #547
@iliapolo, the Helm construct only does a simple `helm template` command. If this is rendering a test pod, then it seems like that's appropriate. If the chart defines the pod and renders it by default and you haven't provided an (available) override to prevent it, I don't really see it being the cdk8s job to understand what a 'test pod' is and remove it. This could lead to some nasty consequences

[2021-03-08 23:55] sunshineo commented on #547
@mbonig Elasticsearch is the only chart I encountered doing this but any helm chart with test pods will encounter this.

I'll try the `helmFlags` property. Thank you very much!

[2021-03-09 10:32] iliapolo commented on #547
@mbonig Thanks for taking a look. you reasoning makes perfect sense.

@sunshineo Let us know if `helmFlags` allow you bypass this issue so we can close it out.

Thanks!

[2021-03-09 18:48] indiealexh commented on #540
@seansabour Could you point me to the right place, this is where I am at.

[2021-03-09 22:23] sunshineo commented on #547
I confirm --skip-tests works. Need to have helm version >= 3.5

[2021-03-10 00:33] seansabour commented on #540
hi @indiealexh  - After you run cdk8s import you can dig into the imports/k8s directory and look at the class definitions and you'll see something like this
[code]

Hope this helps others!

[2021-03-10 12:10] iliapolo commented on #545
@sunshineo the import command regenerates the API from the default version (we currently use 1.15). To specify a different version you can do:

[code]

Changes are bound to be there. But normally not a lot...unless you previously imported without `--no-class-prefix`.

[2021-03-10 12:11] iliapolo commented on #547
Cool. Closing this out then.

[2021-03-10 12:11] #547 closed

[2021-03-15 18:30] eladb commented on #450
DONE (finally!)

[2021-03-15 18:30] #450 closed

[2021-03-17 20:05] heckler1 commented on #115
I finally circled back on this and finished the tests, let me know what you think.

[2021-03-24 11:51] jvassev commented on #215
As far as Typescript is concerned, isn't it better to just generate a type [union](https://www.typescriptlang.org/docs/handbook/2/everyday-types.html#union-types)?

[code]

Another deficiency of enums (at least in Typescript) is the super long names that are auto-geneareted. For example
[code]

I have to rename the long type name to `res` so I can use `res.CPU` or `res.MEMORY`.

What do you think

[2021-03-24 12:13] jvassev commented on #215
Now that I think of it, we can have it both. For the example of autoscaling:
[code]

[2021-03-24 12:22] iliapolo commented on #215
@jvassev We try and avoid using type unions because they don't translate well to other languages. Since the type script generation is the base for other languages bindings, it would be tricky to special case it.

See https://aws.github.io/jsii/specification/2-type-system/#type-unions

Perhaps this can shift to a jsii [feature request](https://github.com/aws/jsii/issues/new?assignees=&labels=featur

[2021-03-25 15:06] rickerp opened #552 "Error: Attempted to construct a container from a Container object."
### Description of the bug:
Maybe I'm missing something but I'm creating a Deployment that has a container, his scope is a `cdk8s.Chart(cdk8s.App(), 's')`.

I'm running cdk8s directly inside cdk and when I run `cdk synth` I get the following error:

### Error log
[code]

### Reproduction Steps:
cdk.json
[code]
app.py
[code]
[code]

### Environment:
  - Python 3.9.2
  - **Frameworks Versions**:

[2021-03-25 15:35] rickerp commented on #552
## EDIT
Found what's causing this is that **cdk8s-plus** is creating a container in the back with the elements inside the `containers` list (argument of `kplus.Deployment`) but in the [documentation](https://cdk8s.io/docs/latest/plus/#getting-started) you have to create the Class

Solution:
[code]

[2021-03-25 15:35] #552 closed

[2021-03-25 21:51] heckler1 commented on #115
I believe this is ready to review, if anyone can take a look?

[2021-03-27 14:36] jvassev opened #553 "CRDs missing the metadata property"
### Description of the bug:

This looks like an import bug or maybe I am not using the API correctly. The generated istio CRD for example misses the metadata property:
[code]
As a result if have to use `@ts-ignore` every time I want to provide a name:
[code]

Ideally, the VirtualService should look like this:
[code]

Granted, the `metadata` property is not present in the schema but all persisted r

[2021-03-31 02:22] encyphered commented on #553
FYI, I also think this is a bug, but I think you can apply a workaround using [escape hatches](https://cdk8s.io/docs/latest/concepts/escape-hatches/).

[2021-04-01 11:48] jvassev commented on #553
Hi, thanks for acknowledging this.
I will probably continue using `@ts-ignore` as it gives me more compile-time safety.

I also tried a few tricks playing with jsii and json2jsii but without success. I  think it is almost impossible to take advantage of  Typescript's flexible type system in the wider context of jsii - unless some sort an escape hatch are introduced in codegen.

Have there been a d

[2021-04-01 13:51] iliapolo commented on #115
@heckler1 Apologies for the delay. I'll try to make some time for it soon. Thanks!

[2021-04-01 15:38] iliapolo commented on #553
@jvassev Thanks for reporting this. It does look like a bug from a first glance.

Could you please share the exact `import` command you are running? I'm definitely seeing some inconsistencies.

The focus has always been to maintain the parity between languages. It definitely presents some [limitations](https://aws.github.io/jsii/user-guides/lib-author/typescript-restrictions/), but we feel it prov

[2021-04-08 07:39] kesavkolla opened #558 "Add support for affinity rules in deployment template spec"
Please allow support to add affinity for deployment template specification.

[2021-04-09 22:08] iliapolo commented on #553
dont close

[2021-04-09 22:09] iliapolo commented on #553
@jvassev Can you share exactly the URL of the CRD you imported?

[2021-04-13 04:21] iliapolo commented on #48
This is now resolved with https://github.com/aws/aws-cdk/tree/master/packages/%40aws-cdk/aws-eks#cdk8s-charts

[2021-04-13 04:21] #48 closed

[2021-04-13 05:16] iliapolo opened #561 "Golang init template"
Users should be able to:

[code]

Template should contain a synthesizable project with a simple resource and test.

[2021-04-13 05:17] iliapolo opened #562 "Golang support in cdk8s import"
Users need to be able to generate L1 API's in golang using the CLI.

[code]

[2021-04-13 05:20] iliapolo opened #563 "Golang getting started and examples"
Our getting started page should support golang.

In addition, add some examples to our repository based of the other language examples.

[2021-04-13 05:23] iliapolo opened #564 "Golang What's New / Blog Post"
We need to publish an official announcement in some way.

[2021-04-17 12:20] TheEdgeOfRage opened #568 "(cdk8s+): TLS support for IngressV1Beta1"
### Description of the feature or enhancement:
Currently if you want to create an Ingress with TLS termination, you have to use the Ingress construct from cdk8s.

### Use Case:
Being able to avoid low-level constructs.

### Proposed Solution:

Either pass a `tls` prop to the `IngressV1Beta1` Construct or invoke the `addTls` method after instantiating the Ingress.

### Other:

PR: #569

* [x] :wave

[2021-04-22 07:51] rossi-fi opened #571 "cdk8s-cli version checker requires a direct internet connection"
### Description of the bug:
Without a direct internet connection cdk8s freezes for about a minute until the version checker times out and splats out an error before the actual command is executed.

### Reproduction Steps:
* disconnect from network
* run cdk8s

### Error Log:

[code]

### Environment:

  - cdk8s-cli 1.0.0-beta.11
  - MacOS and Linux

### Other:

Suggestions:
1. Support for proxy us

[2021-04-22 17:50] eladb commented on #571
Thanks for reporting. Definitely acknowledging an issue.

[2021-04-23 10:08] rossi-fi commented on #571
#543 is a workaround that works for me, provided it can be used with an environmental variable. I've a patch to add proxy support, but still trying to figure out projen and dependencies.

[2021-05-04 15:49] liangyuanpeng commented on #227
Same problem :( ,  any update?

[2021-05-14 04:42] briancaffey opened #580 "cdk8s init typescript-app compiles with errors"
### Description of the bug:

Starting a new project results in compilation errors.

### Reproduction Steps:

[code]

This results in the errors shown above.

### Error Log:

[code]

### Environment:

  - **Framework Version**:

[code]
  - **OS**: WSL2 Ubuntu 20.04

### Other:

This solution proposed in this GH issue comment fixes the issue: https://github.com/DefinitelyTyped/DefinitelyTyped/issues

[2021-05-17 14:02] moreal opened #581 "[BUG] typo in docs/plus/index.md"
### Description of the bug:

In docs/plus/index.md, there is a typo, `kuberentes`.

### Reproduction Steps:

See https://cdk8s.io/docs/v1.0.0-beta.11/plus/#at-a-glance, the sample code is

![image](https://user-images.githubusercontent.com/26626194/118500520-d13c4c80-b762-11eb-9a1f-7dad17c33aa1.png)

[code]

### Expected

It should be correct by [Kubernetes](https://kubernetes.io/) naming:

[code]

[2021-05-17 18:13] #581 closed

[2021-05-18 20:30] fimbulvetr opened #583 "helmFlags is broken - doesn't allow specifying a version or namespace."
### Description of the bug:
When using

`helmflags: [
'--version 1.2.0',
]`,

To explicitly set my chart version (Why would you let it get the latest chart every time? That's a big recipie for problems, seeing as version upgrades often require changing things)

I get this:
`(node:128968) UnhandledPromiseRejectionWarning: Error: Error: unknown flag: --version 1.2.0`

Also, a very similar error when

[2021-05-18 20:44] fimbulvetr commented on #583
Nevermind, I found that you have to spec them serially, like a CMD/args format:

`
helmFlags: [
              "--namespace",
              "kube-system",
              "--version",
              "1.2.0",
            ],
`

[2021-05-18 20:44] #583 closed

[2021-05-19 04:24] drosket opened #584 "Permission Error Thrown While Running CDK8s within Lambda Function that writes a File to TMP directory"
### Description of the bug:
CDK8s running in Lambda fails when CDK8s attempts to create a file in /tmp.   The failure appears to occur because it first attempts to write to the home directory before piping it to stdout where it is redirected to /tmp.

The same code works in CDK but not in CDK8s.
It appears that CDK8s is attempting to write to the users/home directory first before piping it to /tmp

[2021-05-19 20:11] kristianpaul commented on #265
This also happened to me , workaround was not using pipenv from apt but instead install it from pip3

[2021-05-21 18:59] ThomasK33 opened #586 "Missing Kubernetes schemas for version 1.20.0 and 1.21.0"
### Description of the bug:
Updating the `k8s` import to `k8s@1.12.0` or `k8s@1.21.0` in the `cdk8s.yaml` yields `Error: Not Found`.

### Reproduction Steps:
cdk8s.yaml:
[code]

Then reimporting/updating k8s apis using `npm run import`.

### Error Log:
[code]

### Environment:

  - **Framework Version**: 1.0.0-beta.11
  - **OS**: macOS Big Sur 11.3.1 (20E241)

---

This is :bug: Bug Report

[2021-05-24 15:15] HenryC-3 commented on #227
@liangyuanpeng I found `Error: connect ECONNREFUSED 0.0.0.0:443` when I was using vscode pulling something from github. I solved this problem by adding some proxy settings in the vscode, which is `"http.proxy": "http://HOST:PORT"`.

those problem above may related to network problem too.

hope my case can provide some useful information

[2021-05-25 17:50] p-gag opened #588 "ConfigMap data multiline and line length greater than 80 cause all \n to be removed."
### Description of the bug:
When using Include primitive (or adding multi-line data) with a line that would render to more than 80 characters in the yaml, the output will change from  "some_data: |" to "some_data: >"

### Reproduction Steps:

Include the yaml
[code]

bug.yaml
[code]

### Error Log:
Here is the output a_buggy_section.conf now have the '>'

[code]

### Environment:

  - 1.0.0-beta.1

[2021-05-26 06:43] #588 closed

[2021-06-01 12:50] jsnowacki opened #594 "Autogenerated volume name is invalid: over 63 characters"
### Description of the bug:
When using Volume mounted from ConfigMap, the autogenerated name is too long and I get:

[code]

### Reproduction Steps:

[code]

### Error Log:
As in the description, but error comes from CDK which tries to add manifest generated by CDK8s to EKS.

[code]

### Environment:
  - **Framework Version**: "cdk8s": "1.0.0-beta.11", "cdk8s-plus-17": "1.0.0-beta.11",
  - **OS**:

[2021-06-01 19:47] krubenrc commented on #580
Hello,
I too have errors when start a new project.

With this docker-compose:

`version: '3'
services:
    nodejs:
        image: node:14-buster
        stdin_open: true
        tty: true
        volumes:
            - ./app:/app
        working_dir: /app`

I installed the cdk8s-cli like the docs say: npm install -g cdk8s-cli
And i create a new project: cdk8s init typescript-app

And i get the nex

[2021-06-01 20:59] eladb commented on #580
This has already been resolved by https://github.com/cdk8s-team/cdk8s-cli/pull/8. We are planning to release a fix shortly and will report back on this issue.

[2021-06-01 20:59] #580 closed

[2021-06-01 21:34] eladb commented on #580
Released cdk8s-cli@1.0.0-beta.19

[2021-06-01 21:45] #586 closed

[2021-06-02 08:12] #568 closed

[2021-06-02 08:14] TheEdgeOfRage commented on #568
Moved here: https://github.com/cdk8s-team/cdk8s-plus-17/issues/15

PR: https://github.com/cdk8s-team/cdk8s-plus-17/pull/14

[2021-06-02 10:24] rossi-fi commented on #571
Relates to #242

[2021-06-08 04:40] tabern opened #607 "CNCF Sandbox onboarding: transfer domain to CNCF/LF (ITx)"
Per https://github.com/cncf/toc/issues/556

[2021-06-08 05:10] tabern opened #604 "Add CNCF footer to cdk8s.io"
per https://github.com/cncf/toc/issues/556 and https://github.com/cncf/foundation/blob/master/website-guidelines.md

- If there is a copyright notice at the bottom of the page, copyright should be to the project authors or to CNCF, not the origin company
- include the sentence “We are a Cloud Native Computing Foundation sandbox project.” and the CNCF logo
- include trademark guidelines by either l

[2021-06-08 17:28] tabern opened #608 "Expand org owners"
- `thelinuxfoundation`
-  `caniszczyk`
-  `tabern`

per https://github.com/cncf/toc/issues/556

[2021-06-08 17:57] tabern commented on #604
Website changes live!

[2021-06-08 17:57] #604 closed

[2021-06-10 10:05] jabz-eks commented on #568
Hello,

How do you create ingress resources using CDK8s. could anyone share the examples for the same?
Thanks

[2021-06-10 12:36] excavador commented on #21
Any updates? There is very important issue. Without ability to generate helm charts, cdk8s useless for us :( We need release artifacts

[2021-06-20 15:05] iliapolo commented on #568
@jabz-eks https://cdk8s.io/docs/latest/plus/ingress.html

[2021-06-22 23:28] CAR6807 opened #616 "CDK8s import - 1.19 Kubernetes API Spec is Missing"
### Description of the bug:

cdk8s import fails when trying to import API version higher than 1.18

cdk8s import k8s@1.19.0 --language typescript

### Reproduction Steps:

cdk8s import k8s@1.19.0 --language typescript

### Error Log:

/usr/local/Cellar/cdk8s/0.33.0/libexec/lib/node_modules/cdk8s-cli/lib/util.js:74
                    throw new Error(`${res.statusMessage}: ${url}`);

[2021-06-25 05:32] clintmod commented on #616
You'll need to update the latest 1.0 beta versions to get this to work.

[2021-06-25 05:36] clintmod commented on #616
You'll also need to be aware of this change https://github.com/cdk8s-team/cdk8s/pull/421

Object names have changed

Service -> KubeService
Deployment -> KubeDeployment

[2021-07-16 11:44] excavador commented on #21
Any updates?

[2021-07-18 09:06] iliapolo commented on #134
Closing in favor of the language specific issues we have.

- .NET: https://github.com/cdk8s-team/cdk8s/issues/118
- Rust: https://github.com/cdk8s-team/cdk8s/issues/152
- Golang: https://github.com/cdk8s-team/cdk8s/issues/119
- PHP: https://github.com/cdk8s-team/cdk8s/issues/157
- Ruby: https://github.com/cdk8s-team/cdk8s/issues/158
- Java: Already supported

[2021-07-18 09:06] #134 closed

[2021-07-18 09:09] iliapolo commented on #538
Thanks for the suggestion. We will consider this if/when we decide to integrate a code quality tool.

[2021-07-18 09:09] #538 closed

[2021-07-18 09:12] iliapolo commented on #337
Done and merged: https://github.com/cncf/landscape/pull/2140

[2021-07-18 09:12] #337 closed

[2021-07-18 19:36] jsnowacki opened #618 "Cannot create Namespace, construct is missing"
### Description of the bug:
Namespace creation is described [in the documentation](https://cdk8s.io/docs/latest/concepts/deps.html), but neither API Reference nor code completion is able to locate such a construct. Hence, there is no way to create namespace other than manual usage of `ApiObject` or adding manifest somehow differently, in my case via CDK.

I'm posting is as a bug since it is mentio

[2021-07-20 14:34] edobry commented on #21
Not a contributor, but I do think its worth mentioning how massively non-trivial this feature is; I see two implementation paths and both require large amounts of work:
1. cross-compilation to `gotemplate` format, possibly as a `jsii` target
2. implementing arbitrary rendering engine support in `helm`, to shell out to `cdk8s` for chart rendering

both have huge associated challenges, but the latte

[2021-07-20 16:50] Chriscbr opened #619 "Image 404s on logos page"
### Description of the bug:

The CDK8s logos page doesn't seem to render any of the images. Possibly some issue with the way mkdocs is resolving image paths.

### Reproduction Steps:

Visit https://cdk8s.io/docs/latest/assets/logos/readme.html

---

This is :bug: Bug Report

[2021-07-20 23:47] Chriscbr commented on #618
By default the namespace construct is now available as `KubeNamespace`. This is because the constructs generated by the `cdk8s import` command are now automatically prefixed with "Kube" to avoid naming conflicts. It's possible to disable this by running `cdk8s import k8s --no-class-prefix`.

Looks like the documentation may need updating - thanks for bringing this to our attention. 😄

[2021-07-21 08:15] excavador commented on #21
@edobry thank you for sharing

I understand how non-trivial these changes could be, but AWS CDK already solved this problem (i.e. conditions, parameters, ssm parameters), and this mechanism could be adopter for helm chart as well

[2021-07-21 14:34] edobry commented on #21
@excavador could you share a link to the equivalent AWS CDK solution? I find it hard to imagine how there could be an analog there and would love to learn

[2021-07-21 16:07] excavador commented on #21
@edobry

- https://docs.aws.amazon.com/cdk/api/latest/docs/core-readme.html#intrinsic-functions-and-condition-expressions
- https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_core.Fn.html

[2021-07-21 21:48] edobry commented on #21
@excavador the difference is that the AWS CDK is being "compiled" to the CloudFormation format, which is highly flexible, expressive, and machine-readable, being JSON. Helm templates are not really any of those things, making these situations incomparable

[2021-07-21 22:25] excavador commented on #21
@edobry I do not think there is some real big difference.
Yes, CloudFormation supports conditions directly, but from generation point of view in helm there is just
[code]
around underlying construct tree.

core.Fn is not really different from helm built-in "sprig" functions: you just need to transcode invocation of these functions properly.

If you have construct tree, like in CDK, conditions and

[2021-07-21 22:27] excavador commented on #21
@edobry I am talking not only just theoretically. We have own internal cdk-like helm chart generation and we already solved these problems.

We have another problems, like with adopting k8s API to typescript-classes or dirty code (too dirty to publish it as opensource).

But conditions and intristic functions are NOT a problem

[2021-07-25 08:30] eladb commented on #21
@edobry is right. This is not a trivial (and perhaps not even feasible) feature to support. The only way I can think of supporting this is by being able to execute arbitrary code when helm expands its templates and at that point, execute `cdk8s synth` and inject the output. Any ideas?

[2021-07-25 15:35] excavador commented on #21
@edobry you do NOT need to run arbitrary code.
You need to provide way to inject `{{ if }} {{ end }}` for condition around generated tree (in yaml) and insert invocation of template functions provided by helm (`sprig`) exactly like AWS CDK insert invocation of AWS CloudFormation intristic functions (see AWS CDK 'core.Fn')

[2021-07-26 06:26] eladb commented on #21
@excavador I feel like I am missing something. How would you publish the following construct as a Helm chart without statically analyzing the code?

[code]

[2021-07-26 08:48] excavador commented on #21
@eladb this example will not work AND SHOULD NOT WORK.
Try to look to terraform, or AWS CDK, in IaC example like this DOES NOT WORK.

There is really tricky question, why you should NEVER write CDK applications like this, but I will try to explain.

Let's consider AWS CDK.
AWS CDK - typescript application, which produce (using `cdk synth`) CloudFormation Template.

Let's look closer to CloudFormat

[2021-07-26 09:11] eladb commented on #21
@excavador but this is what this feature is about, and generally what the CDK is about - it's about being able to leverage the *full* power of programming languages in order to define cloud abstractions. Loops, conditions, polymorphism, etc. It's totally legitimate if users prefer to use simple templating to generate their helm charts but _this_ feature is about the idea of being able to create he

[2021-07-26 12:25] excavador commented on #21
@eladb yes, I totally agree with your point about the full power of programming language.

The only difference is understanding what exactly is RESULT of this program is.

From your point of view it should be some objects in kubernetes.
From my point of view it should be deployable artifacts (helm chart).

Some regulations requires to provide source code and binary artifacts, used to deploy to pro

[2021-07-26 14:00] excavador commented on #21
@eladb also please take a look to "AWS CDK Tokens" - https://docs.aws.amazon.com/cdk/latest/guide/tokens.html

There is how `sprig` functions could be injected to helm chart.

[2021-07-26 14:15] edobry commented on #21
@excavador if I'm understanding correctly, the central issue here seems to be that your expectations for how `cdk8s`, and more generally Helm/K8s generation tools SHOULD be used are different than many other peoples'. Lets assume for the sake of argument that your opinion on loops in templates being bad design is correct; how would you propose to enforce such a rule, when `cdk8s` is explicitly mea

[2021-07-26 14:45] antoine-gaillard opened #620 "Wrong case for clusterIP key in ServiceSpec object"
### Description of the bug:

Due to a regression probably in the jsii layer when installing the latest cdk8s-cli and generating a Service with python,  the `clusterIP` field of the service has an incorrect case.
We get `clusterIp` key instead of `clusterIP` (with a capital p)

### Reproduction Steps:

Here is the minimal code to reproduce

[code]

### Error Log:

The generated chart looks like thi

[2021-07-26 14:46] excavador commented on #21
@edobry Thank you for the great question!

So, direct answer: just as I described. If AWS CDK8S application has some loop, it means, loop should be in the application.
It could be loop through name of the microservices: like generate the same pattern for microservice A, microservice B, microservice C.
It's really does not matter at all.

The result of execution of CDK application (at least, I gues

[2021-07-26 15:04] dududko commented on #21
@edobry I think that @excavador means the following:

If there is the following CDK stack
[code]

The code eventually should be transformed into a single gotmpl file with no loops
[code]

[2021-07-26 15:06] excavador commented on #21
@dududko thank you for the example.
There is exactly what I meant.

[2021-07-27 12:56] matheushent opened #621 "Add support for specifying selectors in Service from kplus"
### Description of the feature or enhancement:
I propose a feature to specify the selectors when using cdk8s-plus-17 and defining services

### Use Case:
Suppose the following code:

[code]

This will generate the following manifest

[code]

As we can see, there is no way of defining the selector specifically

### Proposed Solution:
The following code would handle:

[code]

### Other:

* [x] :wave

[2021-07-27 20:45] Chriscbr commented on #620
Good catch!

I think this should be fixed as soon as we upgrade our json2jsii dependency to v0.1.271 with the changes from https://github.com/cdklabs/json2jsii/pull/480.

[2021-07-28 19:18] Chriscbr commented on #620
Fixed in cdk8s-cli v1.0.0-beta.30.

[2021-07-28 19:18] #620 closed

[2021-07-30 16:37] edobry commented on #263
Hello, would love to see some more guidance around this; currently working on an internal chart construct library and running into toolchain issues. Thanks

[2021-07-31 01:21] Chriscbr commented on #619
Looks like the issue fixed itself.

[2021-07-31 01:21] #619 closed

[2021-08-01 09:17] eladb commented on #508
Keep

[2021-08-02 05:56] eladb commented on #26
See https://github.com/cdk8s-team/cdk8s-image

[2021-08-05 21:50] Chriscbr commented on #141
Keep

[2021-08-08 09:35] eladb commented on #607
Keep

[2021-08-08 09:36] eladb commented on #608
Keep

[2021-08-09 05:24] iliapolo opened #634 "Website doesn't show most recent version numbers"

[2021-08-09 05:27] iliapolo opened #635 "Refine roadmap"
~Create either a project board or something else that is coherent enough to share with the community as the project roadmap.~

Changing this to *Refine roadmap* since a roadmap project does indeed exist already: https://github.com/cdk8s-team/cdk8s/projects/1